
<h1 class="sectionedit1" id="new_member_info_page">New Member Info Page</h1>
<div class="level1">

<p>
First of all, welcome to the lab! We put this together to get people acquainted with some of the basics of the lab.
</p>
<ul>
<li class="level1"><div class="li"> The lab is physically located in <em class="u">Whittemore 415</em>. </div>
<ul>
<li class="level2"><div class="li"> The building is open during normal business hours. ECE students should have ID card access to buildings when not normally open. If you&#039;re an intern, you&#039;ll need to be given access by e-mailing <a href="mailto:&#x6c;&#x69;&#x77;&#x68;&#x69;&#x74;&#x65;&#x33;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;" class="mail" title="&#x6c;&#x69;&#x77;&#x68;&#x69;&#x74;&#x65;&#x33;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;">Linda White</a>.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> The keypad code is <em class="u"><strong>39472</strong></em> (also written on the board inside the lab). </div>
</li>
<li class="level1"><div class="li"> The wireless password to CV-MLP-LABS is <em class="u"><strong>41539472</strong></em> (room number + keypad code). </div>
</li>
<li class="level1"><div class="li"> The labs&#039; GPU servers are located in <em class="u">Whittemore 478</em> (keypad code: <em class="u"><strong>86512</strong></em>) and the CPU servers are located in the ECE IT server room (across from Whittemore 358; need to e-mail support your VT ID number to get prox card access).</div>
</li>
</ul>

<p>
———————————————————————————————————-
</p>

</div>
<!-- EDIT1 SECTION "New Member Info Page" [1-967] -->
<h3 class="sectionedit2" id="listservs_groups_calendar">Listservs/Groups/Calendar</h3>
<div class="level3">

<p>
As of Fall 2015, VT switched from using listservs to Google Groups.
</p>

<p>
Be sure to be on:
</p>
<ul>
<li class="level1"><div class="li"> <a href="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlp-compute-cluster-g" class="urlextern" title="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlp-compute-cluster-g"  rel="nofollow"> CVMLP-Compute</a> (anyone with access to the <a href="/wiki/doku.php/computing#servers" class="wikilink1" title="computing"> servers</a>)</div>
</li>
<li class="level1"><div class="li"> <a href="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlp-labs-g" class="urlextern" title="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlp-labs-g"  rel="nofollow"> CVMLP-Labs</a> (if local person)</div>
</li>
<li class="level1"><div class="li"> <a href="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlreadinggroup-g" class="urlextern" title="https://groups.google.com/a/vt.edu/forum/#!forum/cvmlreadinggroup-g"  rel="nofollow"> VT CV-ML Reading Group</a></div>
<ul>
<li class="level2"><div class="li"> <a href="https://filebox.ece.vt.edu/~cvmlreadinggroup/" class="urlextern" title="https://filebox.ece.vt.edu/~cvmlreadinggroup/"  rel="nofollow"> CVMLRG Website</a></div>
</li>
</ul>
</li>
</ul>

<p>
We have a shared Google calendar for the lab. I try my best to keep it up-to-date with information about lab-related (including things like relevant seminars at VT) meetings with their date/time/location. We also mark off periods when we won&#039;t be around (<em>e.g.</em>, work-related trips, vacations) so that other people are aware of it.
</p>

<p>
If you&#039;d like to get added to the calendar, please e-mail <a href="mailto:&#x7a;&#x68;&#x61;&#x6e;&#x67;&#x70;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;" class="mail" title="&#x7a;&#x68;&#x61;&#x6e;&#x67;&#x70;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;"> Peng Zhang </a> with which Google-based (<em>e.g.</em>, Gmail, Virginia Tech e-mail) account you&#039;d like to have access to it by.
</p>

</div>
<!-- EDIT2 SECTION "Listservs/Groups/Calendar" [968-2058] -->
<h3 class="sectionedit3" id="lab_server_account">Lab Server Account</h3>
<div class="level3">

<p>
If you&#039;re here, you probably already have a CVL account (via the instructions <a href="/wiki/doku.php/public:new_account" class="wikilink1" title="public:new_account"> here</a>).
</p>

<p>
Computing devices can be found <a href="/wiki/doku.php/computing" class="wikilink1" title="computing">here</a>.
</p>

<p>
See <span class="curid"><a href="/wiki/doku.php/new_members#cluster_faq" class="wikilink1" title="new_members">Cluster FAQ</a></span> below for information on storage.
</p>

</div>
<!-- EDIT3 SECTION "Lab Server Account" [2059-2317] -->
<h3 class="sectionedit4" id="setting_up_password-less_ssh">Setting up password-less SSH</h3>
<div class="level3">

<p>
From personal computer:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">scp</span> <span class="re5">-r</span> <span class="sy0">&lt;</span>userid<span class="sy0">&gt;@</span>godel.ece.vt.edu:<span class="sy0">/</span>srv<span class="sy0">/</span>share<span class="sy0">/</span>lab_helpful_files<span class="sy0">/</span> ~<span class="sy0">/</span></pre>

<p>
Change &lt;userid&gt; to your CVL account username in the <code>~/lab_helpful_files/config</code> file and move it to <code>~/.ssh</code>
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">mv</span> ~<span class="sy0">/</span>lab_helpful_files<span class="sy0">/</span>config ~<span class="sy0">/</span>.ssh<span class="sy0">/</span></pre>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">ssh-keygen</span> <span class="re5">-t</span> rsa</pre>

<p>
Enter a bunch - Make sure ~/ on sever has .ssh folder: login, does 
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw3">cd</span> ~<span class="sy0">/</span>.ssh</pre>

<p>
 work? if not, type 
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">mkdir</span> .ssh</pre>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">scp</span> ~<span class="sy0">/</span>.ssh<span class="sy0">/</span>id_rsa.pub godel:~<span class="sy0">/</span>.ssh<span class="sy0">/</span></pre>

<p>
On server:
</p>
<pre class="code bash">$ <span class="kw3">cd</span> ~<span class="sy0">/</span>.ssh<span class="sy0">/</span>
$ <span class="kw2">cat</span> id_rsa.pub <span class="sy0">&gt;&gt;</span> authorized_keys2
$ <span class="kw2">chmod</span> <span class="nu0">700</span> ~<span class="sy0">/</span>.ssh
$ <span class="kw2">chmod</span> <span class="nu0">600</span> ~<span class="sy0">/</span>.ssh<span class="sy0">/</span>authorized_keys2</pre>

<p>
Now you should be able to type something like <code>$ ssh godel</code>
On your personal computer and it will login without asking for a password.
</p>

<p>
<em class="u">Checking Servers’ Load</em>
</p>

<p>
On personal computer (or I guess on the server, if you want).<br/>

</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">mv</span> ~<span class="sy0">/</span>lab_helpful_files<span class="sy0">/</span>check_lab_load.sh ~<span class="sy0">/</span></pre>

<p>
Now check_lab_load.sh should be in your home directory and running (assuming you’re in ~/)
</p>
<pre class="code bash">.<span class="sy0">/</span>check_lab_load.sh</pre>

<p>
should output all of the servers and how busy they are. Note, for CPU machines, the load average should not get above 64 (i.e., the number of cores). For rosenblatt, it shouldn’t go above 8, and for hebb/tesla/werbos, it shouldn’t go above 32.
</p>

</div>
<!-- EDIT4 SECTION "Setting up password-less SSH" [2318-3703] -->
<h3 class="sectionedit5" id="lab_printer">Lab Printer</h3>
<div class="level3">

<p>
Connect to the CVMLP-LABS network and look for OKI-C610-ACC1DC.
</p>

</div>
<!-- EDIT5 SECTION "Lab Printer" [3704-3790] -->
<h3 class="sectionedit6" id="guide_to_using_servers">Guide to Using Servers</h3>
<div class="level3">

<p>
Screen, htop, etc.
</p>

</div>
<!-- EDIT6 SECTION "Guide to Using Servers" [3791-3844] -->
<h3 class="sectionedit7" id="research_code">Research Code</h3>
<div class="level3">

<p>
Dhruv had sent out <a href="http://www.theexclusive.org/2012/08/principles-of-research-code.html" class="urlextern" title="http://www.theexclusive.org/2012/08/principles-of-research-code.html"  rel="nofollow">this link</a> and <a href="http://arkitus.com/patterns-for-research-in-machine-learning/" class="urlextern" title="http://arkitus.com/patterns-for-research-in-machine-learning/"  rel="nofollow">this link</a> a long time ago, which I was heavily inspired by.
</p>

</div>
<!-- EDIT7 SECTION "Research Code" [3845-4102] -->
<h3 class="sectionedit8" id="web_development_especially_devi_s_students_using_amt_but_d3_visualizations_also_very_useful_for_ml_projects">Web Development (Especially Devi’s students using AMT, but D3 visualizations also very useful for ML projects.)</h3>
<div class="level3">

<p>
If you want, you can start learning some webdev technologies.
</p>

<p>
I found these Udacity classes to be helpful (note: I just watched lectures, didn&#039;t do assignments):
</p>
<ul>
<li class="level1"><div class="li"> Intro to <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr></div>
</li>
<li class="level1"><div class="li"> Web Development</div>
</li>
<li class="level1"><div class="li"> Javascript Basics</div>
</li>
<li class="level1"><div class="li"> Intro to jQuery</div>
</li>
<li class="level1"><div class="li"> Intro to AJAX</div>
</li>
<li class="level1"><div class="li"> Object-Oriented Javascript</div>
</li>
<li class="level1"><div class="li"> Data Visualization and D3.js</div>
</li>
</ul>

<p>
You might be able to also access <a href="http://lynda.vt.edu/" class="urlextern" title="http://lynda.vt.edu/"  rel="nofollow">Lynda via VT</a>. I have yet to use it, but it seems to have a lot of relevant lectures (with transcripts, for easy browsing for specific concepts) and one of our IT people suggested it.
</p>

<p>
Some people in the lab also use <a href="https://bitbucket.org/" class="urlextern" title="https://bitbucket.org/"  rel="nofollow">Bitbucket</a>. Similar to GitHub, but private repos are free and public are pay-for. It seems good to use something more private for research until you&#039;re ready to release it (and adding it to GitHub later is super easy).
</p>

</div>
<!-- EDIT8 SECTION "Web Development (Especially Devi’s students using AMT, but D3 visualizations also very useful for ML projects.)" [4103-5082] -->
<h3 class="sectionedit9" id="cluster_faq">Cluster FAQ</h3>
<div class="level3">

<p>
<strong>Q:</strong> How do I use <a href="http://caffe.berkeleyvision.org/" class="urlextern" title="http://caffe.berkeleyvision.org/"  rel="nofollow">Caffe</a>?
</p>

<p>
<strong>A:</strong> Caffe is a quickl hiy changing library which sometimes introduces backwards-incompatible changes. If we had one version of the library which everyone used (an “installed” version) then it would quickly grow out of date. Thus, the best way to use caffe is to build it from source yourself. There are some well written online instructions for this (e.g. link in the left panel), but they are not specific to our systems and the differences can cause some headaches. Start by cloning the library
</p>
<pre class="code">$ git clone https://github.com/BVLC/caffe.git</pre>

<p>
Note that you need to create a file called <code>Makefile.config</code> in the newly cloned <code>caffe</code> directory in order to let the library know where its dependencies exist on our systems. Next, copy the <code>Makefile.config</code> which has been configured for our lab&#039;s setup. This file may change over time, with the intention that it should work with the most current <code>master</code> branch of caffe
</p>
<pre class="code">$ cd caffe/
$ cp /srv/share/cogswell/Makefile.config ./</pre>

<p>
Now build and test caffe
</p>
<pre class="code">$ make -j32 all
$ make runtest</pre>

<p>
Optionally, build the Python wrapper
</p>
<pre class="code">$ make py</pre>

<p>
<strong>Q:</strong> How do I use CuDNN with Caffe?
</p>

<p>
<strong>A:</strong>
For now, CuDNN is licensed to individual developers. You can do that <a href="https://developer.nvidia.com/cudnn" class="urlextern" title="https://developer.nvidia.com/cudnn"  rel="nofollow">here</a>, though you have to register for an account first (free). After downloading and extracting the <code>.tgz</code> file you should find an include and a lib64 directory. Copy the contents of the include directory to <code>~/usr/include</code> and the contents of the lib64 directory to <code>~/usr/lib/</code>. Assuming you&#039;re using the <code>Makefile.config</code> from a previous question in this <abbr title="Frequently Asked Questions">FAQ</abbr>, edit your copy of that file by uncommenting <code>USE_CUDNN := 1</code> and replacing all instances of <code>/home/cogswell</code> with your home directory.
</p>

<p>
<strong>Q:</strong> On godel, what is the limit to stuff in my home directory?
</p>

<p>
<strong>A:</strong> Your home directory is shared between all machines in the cluster by way of an <a href="https://en.wikipedia.org/wiki/Network_File_System" class="urlextern" title="https://en.wikipedia.org/wiki/Network_File_System"  rel="nofollow">NFS</a>. That way you can view / edit / execute the same files from all machines. We try to keep all the machines configured as closely as possible, so what you run on one machine can be run on any other (barring special hardware).
</p>

<p>
The space available in your home directory is only limited by the disk space available on the file server, but we have reached this limit in the past. Try to be aware of how much space you&#039;re using and delete large things (except final results) when you&#039;re finished with them.
(hint: <code>$ du -h –max-depth 1 ~/</code> shows how much space your home directory is using and <code>$ df -h</code> shows how much space is available).
</p>

<p>
Each machine also has a <code>/hdd_local</code> (normal 4TB HDD) and <code>/ssd_local</code> (1TB SSD) directories which you&#039;re free to use, but anything you put on those won&#039;t be available to other machines. Depending on a few factors, those local drives might have higher performance than the NFS server. Also, <strong>be aware</strong> that these drives are not backed up. <code>/hdd_local</code> has some redundancy as it contains two drives mirrored with <a href="https://en.wikipedia.org/wiki/RAID" class="urlextern" title="https://en.wikipedia.org/wiki/RAID"  rel="nofollow">RAID 1</a> while <code>/ssd_local</code> has no redundancy.
</p>

<p>
<strong>Q:</strong> What should I do with a large dataset?
</p>

<p>
<strong>A:</strong> If you have a dataset that the rest of the lab might find useful then it&#039;s a good idea to put it on /srv/share/data/. To do this, try to follow /srv/share/data/README. Be aware that you&#039;ll loose ownership (and write access) of the data the following Sunday at 12am EST.
</p>

<p>
<strong>Q:</strong> Do we just “use” the machine (i.e., do I just run matlab/python on the command prompt), or do we need to submit jobs into a queue (e.g., Torque or Slurm)?
</p>

<p>
<strong>A:</strong> Just use the machines. We&#039;ve considered starting a job queue once or twice, but so far this has worked for the most part.
</p>

<p>
<strong>Q:</strong> Are there any quotas for compute power?
</p>

<p>
<strong>A:</strong> We don&#039;t have quotas. Normally there&#039;s a machine available. However, especially when the machines are under heavy usage, try to keep an eye on what you&#039;re running. If someone is being unfair then start a conversation and ask them to share. We will consider moving to a job queue system if this becomes a problem.
</p>

<p>
<strong>Q:</strong> I&#039;m unable to login to the <a href="https://computing.ece.vt.edu/wiki/Compute_Clusters" class="urlextern" title="https://computing.ece.vt.edu/wiki/Compute_Clusters"  rel="nofollow">beast/CVL cluster</a> - do I need permission to create an account there?
</p>

<p>
<strong>A:</strong> Those aren&#039;t our machines. Stick to the ones mentioned above.
</p>

<p>
<strong>Q:</strong> What machines are under the purview of our lab, and what are under the purview of the ECE department? Is the helpdesk common to both?
</p>

<p>
<strong>A:</strong> See the list above. The ECE IT staff do some of the maintenance work, but we also do a fair portion of it.
</p>

<p>
<strong>Q:</strong> What do I do if I need to provide access to someone outside the lab to one of the lab machines for transferring data?
</p>

<p>
<strong>A:</strong> If you need someone from outside the lab to transfer a huge file to you (such as dataset, features), you can ask them to transfer it to one of the lab machines directly. You need to provide them access to the machine though. They can use the following guest account to login and transfer the file. <strong>Remember to change the password once they are done transferring, and to update the password below</strong>. You can change the password using *passwd* command by logging into godel from the guest account.
</p>

<p>
Host: godel.ece.vt.edu
</p>

<p>
username: cvmlpguest  
</p>

<p>
password: fh7G3DHJ#2M9&amp;
</p>

<p>
port: 2222
</p>

</div>
<!-- EDIT9 SECTION "Cluster FAQ" [5083-] -->