
<h1 class="sectionedit1" id="compute_cluster_server_maintenance">Compute Cluster Server Maintenance</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Compute Cluster Server Maintenance" [1-50] -->
<h2 class="sectionedit2" id="unbanning_an_ip_procedure">Unbanning an IP Procedure</h2>
<div class="level2">

<p>
<a href="http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban" class="urlextern" title="http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban"  rel="nofollow">http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban</a>
</p>

<p>
In order to check to see if an IP has been banned:
</p>
<pre class="code bash"><span class="co4">$ </span>iptables <span class="re5">-L</span> <span class="re5">-n</span></pre>

<p>
To unban an IP:
</p>
<pre class="code bash"><span class="co4">$ </span>fail2ban-client <span class="kw1">set</span> ssh-iptables unbanip <span class="sy0">&lt;</span>IP<span class="sy0">&gt;</span></pre>

<p>
Note: the jail name is &#039;ssh-iptables&#039;, but sometimes (<em>e.g.</em>, minsky) it might be something else (<em>e.g.</em>, &#039;ssh-ddos&#039;).
</p>

</div>
<!-- EDIT2 SECTION "Unbanning an IP Procedure" [51-470] -->
<h2 class="sectionedit3" id="hard_drives">Hard Drives</h2>
<div class="level2">

<p>
If a (non-SSD, <em>i.e.</em> RAID configured) disk ever breaks, it is important that the replaced drive is rebuilt. This can be done via the RAID BIOS menu and possibly via software available for the <abbr title="Operating System">OS</abbr>.
</p>

</div>
<!-- EDIT3 SECTION "Hard Drives" [471-] -->