
<h1 class="sectionedit1" id="gcc_versions">GCC Versions</h1>
<div class="level1">

<p>
CentOS 6.6 currently has an older version (<em>i.e.</em>, 4.4.7) of gcc as the main version.
This version does not support C++11. Thus, we have installed also install gcc 4.8.2.
In order to use the newer version, you should run
</p>
<pre class="code">$ scl enable devtoolset-2 bash</pre>

<p>
before trying to compile anything. A quick test to see which version of gcc you have access to is to type
<code>gcc –version</code>.
</p>

</div>
