
<h1 class="sectionedit1" id="lab_webpage">Lab Webpage</h1>
<div class="level1">

<p>
We have a lab webpage located <a href="https://mlp.ece.vt.edu" class="urlextern" title="https://mlp.ece.vt.edu"  rel="nofollow">here</a>.
</p>

<p>
All publications that come out of the lab are put up in the <a href="https://mlp.ece.vt.edu/publications.html" class="urlextern" title="https://mlp.ece.vt.edu/publications.html"  rel="nofollow">Publications page</a>. 
</p>

<p>
The lab page is managed through a <a href="https://akrit_vt@bitbucket.org/batra-mlp-lab/cvmlp-webpage.git" class="urlextern" title="https://akrit_vt@bitbucket.org/batra-mlp-lab/cvmlp-webpage.git"  rel="nofollow">bitbucket repo</a> and all changes must be pushed to the repo. There is a cronjob setup for pulling all changes so you don&#039;t have to worry about that. 
</p>

<p>
Adding a publication is as easy as adding a bibtex to the respective section&#039;s file in the <strong>bib</strong> folder. (For example, if you want to add a publication to the 2016 section, add it to 2016.bib)
</p>

<p>
<em class="u">A few things need to be done before you add it to the .bib file -</em>
</p>
<ul>
<li class="level1"><div class="li"> If there isn&#039;t a bibtex for the publication, create one.</div>
</li>
<li class="level1"><div class="li"> You need a 150&times;150 <span style='color:green; '>.jpg</span> thumbnail related to the paper. It must be named <strong>thumbnail.jpg</strong> for consistency</div>
</li>
<li class="level1"><div class="li"> Create a folder named exactly as the <strong>label</strong> of the bibtex (See <a href="https://www.economics.utoronto.ca/osborne/latex/BIBTEX.HTM" class="urlextern" title="https://www.economics.utoronto.ca/osborne/latex/BIBTEX.HTM"  rel="nofollow">here</a> for the desc of a label) in the <strong>papers</strong> folder under the appropriate section/year. (Look at existing folders to get an idea)</div>
</li>
<li class="level1"><div class="li"> If you want to place a pdf of the paper, it must go into this folder. The pdf also must be the same as the <strong>label</strong>.</div>
</li>
</ul>

<p>
<em class="u">There are some specific fields in the bibtex entry that need to be added for it to show up on the page. These are described below -</em>
</p>
<ol>
<li class="level1"><div class="li"> author - All author names must be separated by commas and a space (See example entries below).</div>
</li>
<li class="level1"><div class="li"> aimg - Location of &#039;thumbnail.jpg&#039; under the appropriate folder in the <strong>papers</strong> folder. All thumbnails must be 150&times;150 in size.</div>
</li>
<li class="level1"><div class="li"> venue - Venue of the publication. There are some preset bib strings (See below). If using a preset string do NOT enclose the venue string in {}</div>
</li>
<li class="level1"><div class="li"> url - <abbr title="Uniform Resource Locator">URL</abbr> of the paper (Arxiv or pdf placed in the appropriate folder in the *papers* folder)</div>
</li>
<li class="level1"><div class="li"> arxiv (if exists) - Arxiv link. This will create a link named Arxiv under the entry.</div>
</li>
<li class="level1"><div class="li"> project (if exists) - Creates a link to the project page.</div>
</li>
<li class="level1"><div class="li"> code (if exists) - Creates a link to the code.</div>
</li>
<li class="level1"><div class="li"> video (if exists) - Creates a link to the video.</div>
</li>
<li class="level1"><div class="li"> demo (if exists) - Creates a link to the demo page.</div>
</li>
<li class="level1"><div class="li"> misca (if required) - For comments (For example - “Best student paper”) (Automatically renders in green color.)</div>
</li>
<li class="level1"><div class="li"> miscb (if required) - For comments (Automatically renders in green color)</div>
</li>
<li class="level1"><div class="li"> comment (if required) - For comments (Automatically renders in green color)</div>
</li>
</ol>

<p>
<img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> You can take a screenshot of any thumbnail in the paper and adjust size to 150&times;150. Make sure once you make this change the extension is <span style='color:green; '>.jpg</span> and not <span style='color:red; '>.png</span>. It usually renames to <span style='color:red; '>.png</span> on a Mac
</p>

</div>
<!-- EDIT1 SECTION "Lab Webpage" [1-2779] -->
<h2 class="sectionedit2" id="preset_venue_entries">Preset venue entries</h2>
<div class="level2">
<pre class="code">@string{CVPR = &quot;IEEE Conference on Computer Vision and Pattern Recognition (CVPR)&quot;}
@string{ICCV = &quot;International Conference on Computer Vision (ICCV)&quot;}
@string{BMVC = &quot;British Machine Vision Conference (BMVC)&quot;}
@string{ECCV = &quot;European Conference on Computer Vision (ECCV)&quot;}
@string{PAMI = &quot;Transactions on Pattern Analysis and Machine Intelligence (PAMI)&quot;}
@string{IJCV = &quot;International Journal of Computer Vision (IJCV)&quot;}
@string{ICLR = &quot;International Conference of Learning Representations (ICLR)&quot;}
@string{NIPS = &quot;Neural Information Processing Systems (NIPS)&quot;}
@string{ICML = &quot;International Conference on Machine Learning (ICML)&quot;}
@string{UAI = &quot;The Conference on Uncertainty in Artificial Intelligence (UAI)&quot;}
@string{AISTATS = &quot;International Conference on Artificial Intelligence and Statistics (AISTATS)&quot;}
@string{ICIP = &quot;IEEE International Conference on Image Processing (ICIP)&quot;}
@string{EMNLP = &quot;Conference on Empirical Methods in Natural Language Processing (EMNLP)&quot;}
@string{WMVC = &quot;Workshop on Motion and Video Computing (WMVC)&quot;}
@string{ICLR = &quot;International Conference on Learning Representations (ICLR)&quot;}
@string{WACV = &quot;IEEE Winter Conference on Applications of Computer Vision (WACV)&quot;}
@string{INDICON = &quot;IEEE India Annual Conference (INDICON)&quot;}</pre>

</div>
<!-- EDIT2 SECTION "Preset venue entries" [2780-4095] -->
<h2 class="sectionedit3" id="example_bibtex_entries">Example bibtex entries</h2>
<div class="level2">
<pre class="code">@Article{DBLP:journals/corr/AgrawalBP16,
  author    = {Aishwarya Agrawal, Dhruv Batra, Devi Parikh},
  title     = {Analyzing the Behavior of Visual Question Answering Models},
  journal   = {CoRR},
  volume    = {abs/1606.07356},
  year      = {2016},
  url       = {http://arxiv.org/abs/1606.07356},
  aimg = {papers/2016/AgrawalBP16/thumbnail.jpg},
  venue = EMNLP
}</pre>
<pre class="code">@Article{VQA, 
author = {Stanislaw Antol, Aishwarya Agrawal, Jiasen Lu, Margaret Mitchell, Dhruv Batra, C. Lawrence Zitnick, Devi Parikh}, 
title = &quot;{VQA: Visual Question Answering}&quot;, 
journal = {arXiv preprint arXiv:1505.00468}, 
year = {2015},
aimg = {papers/2015/vqa/thumbnail.jpg},
url = {http://arxiv.org/abs/1505.00468},
venue = ICCV,
dataset = {http://visualqa.org/},
project = {http://visualqa.org/},
code = {http://visualqa.org/},
video = {https://www.youtube.com/watch?v=gar88i-V0RE},
arxiv = {http://arxiv.org/abs/1505.00468} ,
demo = {http://cloudcv.org/vqa},
misca = {&lt;a href=&quot;http://visualqa.org/&quot;&gt;[visualqa.org ((data, code, challenge)]&lt;/a&gt;}
} </pre>

</div>
<!-- EDIT3 SECTION "Example bibtex entries" [4096-] -->