
<h1 class="sectionedit1" id="old_documentation_pre-2015-01-05">Old Documentation (pre-2015-01-05)</h1>
<div class="level1">

<p>
<em class="u">Instructions for Admins</em>:
</p>
<ol>
<li class="level1"><div class="li"> Before you install something, check this page. </div>
</li>
<li class="level1"><div class="li"> If you install something, make a note here. </div>
</li>
<li class="level1"><div class="li"> Please be consistent. If you install something, install the same version on all machines. It’s a little more work, but in the end, better for everyone. </div>
</li>
<li class="level1"><div class="li"> Don’t step on other admin’s toes. Before you uninstall packages, ask the person who installed it, and send out an email on the cluster listserv. There might be a reason why things are the way they are.</div>
</li>
<li class="level1"><div class="li"> Install source:</div>
<ol>
<li class="level2"><div class="li"> “standard” packages (say perl): yum</div>
<ol>
<li class="level3"><div class="li"> example: <code>sudo yum install perl</code></div>
</li>
</ol>
</li>
<li class="level2"><div class="li"> python packages (say numpy, matlabplotlib): pip</div>
<ol>
<li class="level3"><div class="li"> example: <code>sudo pip install ipython</code></div>
</li>
</ol>
</li>
<li class="level2"><div class="li"> specialized packages (say Google’s protobuf): from source</div>
<ol>
<li class="level3"><div class="li"> example</div>
<ol>
<li class="level4"><div class="li"> <code>wget <a href="https://protobuf.googlecode.com/files/protobuf-2.5.0.tar.bz2" class="urlextern" title="https://protobuf.googlecode.com/files/protobuf-2.5.0.tar.bz2"  rel="nofollow">https://protobuf.googlecode.com/files/protobuf-2.5.0.tar.bz2</a></code></div>
</li>
<li class="level4"><div class="li"> <code>tar -zxvf protobuf-2.5.0.tar.bz2</code></div>
</li>
<li class="level4"><div class="li"> <code>cd protobuf-2.5.0</code></div>
</li>
<li class="level4"><div class="li"> <code>sudo make &amp;&amp; make install</code></div>
</li>
</ol>
</li>
</ol>
</li>
</ol>
</li>
</ol>

<p>
<em class="u">Notes</em>:
</p>
<ol>
<li class="level1"><div class="li"> One user owns everything under /srv/share/data/. There’s a weekly cron job which makes this so.</div>
<ol>
<li class="level2"><div class="li"> username: cvmlp</div>
</li>
<li class="level2"><div class="li"> password: Bc$mSkS_B9</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> We have a user called cvmlp with the same password at puppeteer.ece.vt.edu</div>
<ol>
<li class="level2"><div class="li"> cvmlp specific puppet config (used for tesla) at /etc/puppet/environments/cvmlp/</div>
</li>
</ol>
</li>
</ol>

<p>
<em class="u">List of Admins</em>:
</p>
<ul>
<li class="level1"><div class="li"> Dhruv</div>
</li>
<li class="level1"><div class="li"> Devi</div>
</li>
<li class="level1"><div class="li"> Harsh</div>
</li>
<li class="level1"><div class="li"> Neelima</div>
</li>
<li class="level1"><div class="li"> Stan</div>
</li>
<li class="level1"><div class="li"> Michael <br/>
</div>
</li>
</ul>

<p>
<em class="u">Not anymore</em>:
</p>
<ul>
<li class="level1"><div class="li"> Abdullah</div>
</li>
<li class="level1"><div class="li"> Naman Agrawal</div>
</li>
</ul>

</div>
