
<h1 class="sectionedit1" id="setting_up_demo_on_godel">Setting up demo on Godel</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Copy NGINX and HTTP Configuration from home folder.</div>
</li>
<li class="level1"><div class="li"> Change the firewall permissions to allow 80, 443 ports</div>
</li>
<li class="level1"><div class="li"> Disable SELinux, or set it to permissive mode.</div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.cyberciti.biz/faq/howto-turn-off-selinux/" class="urlextern" title="http://www.cyberciti.biz/faq/howto-turn-off-selinux/"  rel="nofollow">http://www.cyberciti.biz/faq/howto-turn-off-selinux/</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <strong>For Whittle Search Demo</strong>: Setup MySQL with proper password for whittle search demo  </div>
<ul>
<li class="level3"><div class="li"> mysqladmin -u root -p  </div>
<ul>
<li class="level4"><div class="li"> <a href="http://www.howtogeek.com/howto/mysql/set-the-mysql-root-password/" class="urlextern" title="http://www.howtogeek.com/howto/mysql/set-the-mysql-root-password/"  rel="nofollow">http://www.howtogeek.com/howto/mysql/set-the-mysql-root-password/</a></div>
</li>
</ul>
</li>
<li class="level3"><div class="li"> create database relattr: <pre class="code">create database relattr; </pre>
</div>
</li>
<li class="level3"><div class="li"> select this database: <pre class="code">use relattr; </pre>
</div>
</li>
<li class="level3"><div class="li"> load all the tables: <pre class="code">source relattr.sql;</pre>
</div>
</li>
<li class="level3"><div class="li"> repeat the same for classifier demo.</div>
</li>
<li class="level3"><div class="li"> repeat the same for rel_annofaces demo (This is in the descriptor demo)</div>
</li>
<li class="level3"><div class="li"> /var/lib/php/session set the permission to 777</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <strong>For python based web-servers</strong>: </div>
<ul>
<li class="level3"><div class="li"> We will have to setup uwsgi so that it restarts on reboot and launches all the app automatically. </div>
</li>
<li class="level3"><div class="li"> Create a /etc/uwsgi and /etc/uwsgi/vassals directory.</div>
</li>
<li class="level3"><div class="li"> Create a symlink for all the .ini file inside vassals directory. <pre class="code"> sudo ln -s /var/www/html/commonSense/uwsgi.ini /etc/uwsgi/vassals </pre>
</div>
</li>
<li class="level3"><div class="li"> <a href="http://uwsgi-docs.readthedocs.org/en/latest/tutorials/Django_and_nginx.html" class="urlextern" title="http://uwsgi-docs.readthedocs.org/en/latest/tutorials/Django_and_nginx.html"  rel="nofollow">http://uwsgi-docs.readthedocs.org/en/latest/tutorials/Django_and_nginx.html</a></div>
</li>
<li class="level3"><div class="li"> This link will also be useful: <a href="http://blog.collabspot.com/2012/08/14/setting-up-nginx-uwsgi-python-ubuntu-12-04/" class="urlextern" title="http://blog.collabspot.com/2012/08/14/setting-up-nginx-uwsgi-python-ubuntu-12-04/"  rel="nofollow">http://blog.collabspot.com/2012/08/14/setting-up-nginx-uwsgi-python-ubuntu-12-04/</a></div>
</li>
<li class="level3"><div class="li"> Add uwsgi commond to rc.local</div>
</li>
<li class="level3"><div class="li"> Set permissions issues with /var/log/uwsgi</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <strong>For VQA demo</strong>:</div>
</li>
</ol>

</div>
