
<p>
Information about various datasets already on the lab server in the /srv/share/data folder. Try to avoid copying the data again to save storage space. 
</p>

<p>
VQA Beta v0.1:
</p>

<p>
/srv/share/vqa/data/teaser_data/{Questions, Annotations}_Train_mscoco/
</p>

<p>
VQA Beta v0.9:
</p>

<p>
/srv/share/vqa/data/July_Release/{Questions, Annotations}_{Train, Val}_mscoco/
</p>

<p>
VQA abstract dataset for Beta v0.9 is here but it does not have train, val splits now:
</p>

<p>
/srv/share/vqa/data/July_Release/{Questions, Annotations}_abstract/
</p>

<p>
Disclaimer: This page may not be up to date.
</p>
