
<h1 class="sectionedit1" id="cv-mlp_labs_wiki">CV-MLP Labs Wiki</h1>
<div class="level1">

<p>
Welcome to the wiki for the CV-MLP labs at Virginia Tech! This is a shared resource of the <a href="https://computing.ece.vt.edu/~parikh/" class="urlextern" title="https://computing.ece.vt.edu/~parikh/"  rel="nofollow"> Devi Parikh&#039;s</a> <a href="https://computing.ece.vt.edu/~parikh/CVL.html" class="urlextern" title="https://computing.ece.vt.edu/~parikh/CVL.html"  rel="nofollow"> Computer Vision Lab</a> and <a href="https://computing.ece.vt.edu/~dbatra/" class="urlextern" title="https://computing.ece.vt.edu/~dbatra/"  rel="nofollow"> Dhruv Batra&#039;s</a> <a href="https://mlp.ece.vt.edu/" class="urlextern" title="https://mlp.ece.vt.edu/"  rel="nofollow"> Machine Learning and Perception Lab</a>.
</p>

<p>
Please use the sidebar to find the information that you&#039;re looking for. To be able to access most of the wiki, you will need a <a href="/wiki/doku.php/public:new_account" class="wikilink1" title="public:new_account"> CVL account</a> first.
</p>

</div>
