
<h1 class="sectionedit1" id="poster_printing">Poster Printing</h1>
<div class="level1">

<p>
Though the labs do not own a poster printer, we do have access to the ECE department&#039;s poster printers. Details about printing can be found on <a href="https://computing.ece.vt.edu/wiki/Poster_Printing" class="urlextern" title="https://computing.ece.vt.edu/wiki/Poster_Printing"  rel="nofollow"> this webpage</a>. <strong>Things get hectic before conferences, so please submit your poster <em>days</em> before you need it printed by.</strong>
</p>

</div>
