
<h1 class="sectionedit1" id="list_of_packages_installed_on_cv-mlp_compute_cluster">List of packages installed on CV-MLP Compute Cluster</h1>
<div class="level1">
<div class="table sectionedit2"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Package Name  </th><th class="col1 leftalign"> Version  </th><th class="col2 leftalign"> Installed from?  </th><th class="col3 leftalign"> Installed By:  </th><th class="col4 leftalign"> Date  </th><th class="col5 leftalign"> List of Machines  </th><th class="col6 leftalign"> Notes (e.g. why is this being installed?)  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> ipython       </td><td class="col1 leftalign">          </td><td class="col2 leftalign">                  </td><td class="col3 leftalign">                </td><td class="col4 leftalign">       </td><td class="col5 leftalign">                   </td><td class="col6 leftalign">                                            </td>
	</tr>
</table></div>
<!-- EDIT2 TABLE [69-344] -->
</div>
