
<h1 class="sectionedit1" id="how_to_convert_a_spreadsheet_into_a_dokuwiki_table">How to Convert a Spreadsheet Into a DokuWiki Table</h1>
<div class="level1">

<p>
<a href="http://donaldmerand.com/code/2012/05/08/convert-a-spreadsheet-to-dokuwiki-format.html" class="urlextern" title="http://donaldmerand.com/code/2012/05/08/convert-a-spreadsheet-to-dokuwiki-format.html"  rel="nofollow">Reference Link</a>
</p>
<dl class="file">
<dt><a href="/wiki/doku.php?do=export_code&amp;id=convert_xls&amp;codeblock=0" title="Download Snippet" class="mediafile mf_">tsvfmt</a></dt>
<dd><pre class="code file bash"><span class="co0">#!/bin/sh</span>
<span class="co0">#tsvfmt - TSV Formatter</span>
<span class="co0">#Author: Donald L. Merand</span>
<span class="co0">#----------</span>
<span class="co0">#Takes a TSV file, and outputs a text-only representation of the table,</span>
<span class="co0">#+ justified to the max width of each column. Basically, you use it when </span>
<span class="co0">#+ you want to &quot;preview&quot; a TSV file, or print it prettily.</span>
<span class="co0">#----------</span>
<span class="co0">#Accepts standard input, or piped/redirected files</span>
<span class="co0">#----------</span>
&nbsp;
<span class="co0">#set this to whatever you want to show up between columns</span>
<span class="re2">field_separator</span>=<span class="st0">&quot;|&quot;</span>
<span class="re2">tmp_filename</span>=tsv_<span class="co1">${RANDOM}</span>_tmp.txt
<span class="re2">tmp_widths</span>=tsv_<span class="co1">${RANDOM}</span>_widths.txt
&nbsp;
&nbsp;
<span class="co0">#take file input, or standard input, and redirect to a temporary file</span>
<span class="co0">#also, convert mac line-endings to UNIX ones</span>
<span class="kw2">perl</span> <span class="re5">-p</span> <span class="re5">-e</span> <span class="st_h">'s/(:?\r\n?|\n)/\n/g'</span> <span class="sy0">&gt;</span> <span class="st0">&quot;<span class="es2">$tmp_filename</span>&quot;</span>
&nbsp;
<span class="co0">#now we're going to extract max record widths from the file</span>
<span class="co0">#send the contents to awk</span>
<span class="kw2">cat</span> <span class="st0">&quot;<span class="es2">$tmp_filename</span>&quot;</span> <span class="sy0">|</span>
<span class="kw2">awk</span> <span class="st_h">'
BEGIN {  
  FS=&quot;\t&quot;
  max_nf = 0 
}
{
  for (i=1; i&lt;=NF; i++) {
    #set the max-length to this field width if it is the biggest
    if (max_length[i] &lt; length($i)) { max_length[i] = length($i) }
  }
  if (max_nf &lt; NF) { max_nf = NF }
}
END {
  for (i=1; i&lt;=max_nf; i++) {
    printf(&quot;%s\t&quot;, max_length[i])
  }
  printf(&quot;\n&quot;)
}
'</span> <span class="sy0">&gt;</span> <span class="st0">&quot;<span class="es2">$tmp_widths</span>&quot;</span> <span class="co0">#store widths in a TSV temp file</span>
&nbsp;
<span class="co0">#now start over by sending our temp file to awk. THIS time we have a widths</span>
<span class="co0">#+file to read which gives us the maximum width for each column</span>
<span class="kw2">cat</span> <span class="st0">&quot;<span class="es2">$tmp_filename</span>&quot;</span> <span class="sy0">|</span>
<span class="kw2">awk</span> <span class="re5">-v</span> <span class="re2">field_sep</span>=<span class="st0">&quot;<span class="es2">$field_separator</span>&quot;</span> <span class="st_h">'
BEGIN {
  FS=&quot;\t&quot;
  #read the max width of each column
  getline w &lt; &quot;'</span><span class="st0">&quot;<span class="es2">$tmp_widths</span>&quot;</span><span class="st_h">'&quot;
  #split widths into an array
  split(w, widths, &quot;\t&quot;)
  #get the max number of fields
  max_nf = 0
  for (i in widths) { max_nf++ }
}
{
  printf(&quot;%s&quot;, field_sep)
  for (i=1; i&lt;max_nf; i++) {
    printf(&quot;%-*s%s&quot;, widths[i], $i, field_sep)
  }
  printf(&quot;\n&quot;)
}
'</span>
<span class="co0">#now we're done. remove temp files</span>
<span class="kw2">rm</span> <span class="st0">&quot;<span class="es2">$tmp_filename</span>&quot;</span> <span class="st0">&quot;<span class="es2">$tmp_widths</span>&quot;</span></pre>
</dd></dl>

</div>
<!-- EDIT1 SECTION "How to Convert a Spreadsheet Into a DokuWiki Table" [1-1986] -->
<h3 class="sectionedit2" id="steps">Steps</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> Download the above file</div>
</li>
<li class="level1"><div class="li"> Save your excel file as type: to “Text (Tab delimited) (*.txt)”.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <pre class="code bash"><span class="kw2">mv</span> <span class="br0">&#91;</span>spreadsheet<span class="br0">&#93;</span>.txt <span class="br0">&#91;</span>spreadsheet<span class="br0">&#93;</span>.tsv</pre>
</div>
</li>
<li class="level1"><div class="li"> <pre class="code bash"><span class="kw2">bash</span> tsvfmt <span class="sy0">&lt;</span> <span class="br0">&#91;</span>spreadsheet<span class="br0">&#93;</span>.tsv <span class="sy0">&gt;</span> <span class="br0">&#91;</span>output<span class="br0">&#93;</span>.txt</pre>
</div>
</li>
<li class="level1"><div class="li"> Copy contents of [output].txt to wiki page</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Steps" [1987-] -->