
<h1 class="sectionedit1" id="printer_supply_details">Printer Supply Details</h1>
<div class="level1">

<p>
We have an OKI C610 (I don&#039;t think the n/dn/cdn/dtn suffixes matter) in the lab. The model Number is N31193A.
</p>

<p>
The official part numbers are (from <a href="http://www.okidata.com/resources/products/brochure/c610.pdf" class="urlextern" title="http://www.okidata.com/resources/products/brochure/c610.pdf"  rel="nofollow"> here</a>):
</p>
<div class="table sectionedit2"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0"> Part Number </th><th class="col1"> Description </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 centeralign">  44315303   </td><td class="col1 leftalign"> Cyan Toner Cartridge     </td>
	</tr>
	<tr class="row2">
		<td class="col0 centeralign">  44315302   </td><td class="col1 leftalign"> Magenta Toner Cartridge  </td>
	</tr>
	<tr class="row3">
		<td class="col0 centeralign">  44315301   </td><td class="col1 leftalign"> Yellow Toner Cartridge   </td>
	</tr>
	<tr class="row4">
		<td class="col0 centeralign">  44315304   </td><td class="col1 leftalign"> Black Toner Cartridge    </td>
	</tr>
	<tr class="row5">
		<td class="col0 centeralign">  44315103   </td><td class="col1 leftalign"> Cyan Image Drum Kit      </td>
	</tr>
	<tr class="row6">
		<td class="col0 centeralign">  44315102   </td><td class="col1 leftalign"> Magenta Image Drum Kit   </td>
	</tr>
	<tr class="row7">
		<td class="col0 centeralign">  44315101   </td><td class="col1 leftalign"> Yellow Image Drum Kit    </td>
	</tr>
	<tr class="row8">
		<td class="col0 centeralign">  44315104   </td><td class="col1 leftalign"> Black Image Drum Kit     </td>
	</tr>
</table></div>
<!-- EDIT2 TABLE [260-634] --><div class="table sectionedit3"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Amazon Product #  </th><th class="col1 leftalign"> Description             </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> B00154Z0L4        </td><td class="col1 leftalign"> Printer Paper           </td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> B00DIMDFC2        </td><td class="col1 leftalign"> Cyan Toner Cartridge    </td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> B00DIJJAXS        </td><td class="col1"> Magenta Toner Cartridge </td>
	</tr>
	<tr class="row4">
		<td class="col0 leftalign"> B00DIJJJSE        </td><td class="col1 leftalign"> Yellow Toner Cartridge  </td>
	</tr>
	<tr class="row5">
		<td class="col0 leftalign"> B00DIJJ26S        </td><td class="col1 leftalign"> Black Toner Cartridge   </td>
	</tr>
	<tr class="row6">
		<td class="col0 leftalign"> B00M7S62UU        </td><td class="col1 leftalign"> Cyan Image Drum Kit     </td>
	</tr>
	<tr class="row7">
		<td class="col0 leftalign"> B004E2RQSO        </td><td class="col1 leftalign"> Magenta Image Drum Kit  </td>
	</tr>
	<tr class="row8">
		<td class="col0 leftalign"> B005CJ3L46        </td><td class="col1 leftalign"> Yellow Image Drum Kit   </td>
	</tr>
	<tr class="row9">
		<td class="col0 leftalign"> B005DC02HG        </td><td class="col1 leftalign"> Black Image Drum Kit    </td>
	</tr>
</table></div>
<!-- EDIT3 TABLE [636-1115] -->
</div>
