
<h1 class="sectionedit1" id="compute_cluster_server_maintenance">Compute Cluster Server Maintenance</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Compute Cluster Server Maintenance" [1-50] -->
<h2 class="sectionedit2" id="unbanning_an_ip_procedure">Unbanning an IP Procedure</h2>
<div class="level2">

<p>
<a href="http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban" class="urlextern" title="http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban"  rel="nofollow">http://serverfault.com/questions/285256/how-to-unban-an-ip-properly-with-fail2ban</a>
</p>

<p>
In order to check to see if an IP has been banned:
</p>
<pre class="code bash"><span class="co4">$ </span>iptables <span class="re5">-L</span> <span class="re5">-n</span></pre>

<p>
To unban an IP:
</p>
<pre class="code bash"><span class="co4">$ </span>fail2ban-client <span class="kw1">set</span> ssh-iptables unbanip <span class="sy0">&lt;</span>IP<span class="sy0">&gt;</span></pre>

<p>
Note: the jail name is &#039;ssh-iptables&#039;, but sometimes (<em>e.g.</em>, minsky) it might be something else (<em>e.g.</em>, &#039;ssh-ddos&#039;).
</p>

</div>
<!-- EDIT2 SECTION "Unbanning an IP Procedure" [51-470] -->
<h2 class="sectionedit3" id="hard_drives">Hard Drives</h2>
<div class="level2">

<p>
If a (non-SSD, <em>i.e.</em> RAID configured) disk ever breaks, it is important that the replaced drive is rebuilt. This can be done via the RAID BIOS menu and possibly via software available for the <abbr title="Operating System">OS</abbr>.
</p>

</div>
<!-- EDIT3 SECTION "Hard Drives" [471-695] -->
<h2 class="sectionedit4" id="cuda">CUDA</h2>
<div class="level2">

<p>
Recently (11/02/15) I (Michael) added cuda-7.0 alongside our previous versions for CuDNNv3 support. There have been problems configuring cuda over puppet, so I did this for each machine. I took these steps
</p>
<ol>
<li class="level1"><div class="li"> Download the cuda-7.0 <a href="http://developer.download.nvidia.com/compute/cuda/7_0/Prod/local_installers/cuda_7.0.28_linux.run" class="urlextern" title="http://developer.download.nvidia.com/compute/cuda/7_0/Prod/local_installers/cuda_7.0.28_linux.run"  rel="nofollow">installer</a> to /srv/share/cudas/</div>
</li>
<li class="level1"><div class="li"> Run the installer as root</div>
<ol>
<li class="level2"><div class="li"> <pre class="code bash"><span class="co4">$ </span><span class="kw2">sudo</span> <span class="kw2">bash</span> <span class="sy0">/</span>srv<span class="sy0">/</span>share<span class="sy0">/</span>cudas<span class="sy0">/</span>cuda_7.0.28_linux.run</pre>
</div>
</li>
<li class="level2"><div class="li"> Do not install driver</div>
</li>
<li class="level2"><div class="li"> Do not install OpenGL</div>
</li>
<li class="level2"><div class="li"> Do install CUDA toolkit</div>
</li>
<li class="level2"><div class="li"> Keep default location (/usr/local/cuda-7.0)</div>
</li>
<li class="level2"><div class="li"> Do not put a symbolic link at /usr/local/cuda</div>
</li>
<li class="level2"><div class="li"> Do not install the CUDA samples</div>
</li>
</ol>
</li>
</ol>

<p>
I did not update /etc/ld.so.conf.d/cuda.conf on puppet.
</p>

</div>
<!-- EDIT4 SECTION "CUDA" [696-] -->