
<h1 class="sectionedit1" id="compute_cluster_new_server_setup">Compute Cluster New Server Setup</h1>
<div class="level1">

<p>
This is a guide to setting up a new server for the compute cluster.
</p>

<p>
A basic overview is that we collaborate with the <a href="https://computing.ece.vt.edu/wiki/Main_Page" class="urlextern" title="https://computing.ece.vt.edu/wiki/Main_Page"  rel="nofollow"> ECE IT department</a> to manage our machines. The system that they use to manage their own machines is <a href="https://en.wikipedia.org/wiki/Puppet_(software)" class="urlextern" title="https://en.wikipedia.org/wiki/Puppet_(software)"  rel="nofollow"> puppet</a>, which is software that makes sure all machines are configured in the way that their puppet files say they are (<em>e.g.</em>, what software is installed, networking configuration). The <a href="/wiki/doku.php?id=compute_cluster_documentation" class="wikilink1" title="compute_cluster_documentation"> Compute Cluster Documentation</a> page elaborates more on the specifics. But this document is about getting to that point via the following steps:
</p>
<ol>
<li class="level1"><div class="li"> <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#pre-installation_tasks" class="wikilink1" title="compute_cluster_new_server"> Some tasks that should be done before starting.</a></span></div>
</li>
<li class="level1"><div class="li"> <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#hardware_installation" class="wikilink1" title="compute_cluster_new_server"> Install all hardware and make sure all hardware is found by the system.</a></span></div>
</li>
<li class="level1"><div class="li"> <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#memtest" class="wikilink1" title="compute_cluster_new_server"> Run MemTest on the RAM.</a></span></div>
</li>
<li class="level1"><div class="li"> <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#operating_system_os" class="wikilink1" title="compute_cluster_new_server"> Install the Operating System (OS).</a></span></div>
</li>
</ol>

</div>
<!-- EDIT1 SECTION "Compute Cluster New Server Setup" [1-1137] -->
<h2 class="sectionedit2" id="pre-installation_tasks">Pre-installation Tasks</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Contact ECE support asking them to add the new server/IP to the <abbr title="Domain Name System">DNS</abbr>.</div>
<ul>
<li class="level2"><div class="li"> As part of this, ECE support needs to add the IP to the router, which is independent of the <abbr title="Domain Name System">DNS</abbr> changes.</div>
</li>
<li class="level2"><div class="li"> Be sure to remind them to update the LDAP netgroup with the new machine (otherwise you won&#039;t be able to mount NFS).</div>
</li>
<li class="level2"><div class="li"> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> <abbr title="Domain Name System">DNS</abbr> updates only happen on Tuesdays and Thursdays (run by <a href="http://www.cns.vt.edu/" class="urlextern" title="http://www.cns.vt.edu/"  rel="nofollow"> CNS</a>?). If the request isn&#039;t in before Tuesday at 11AM or so you&#039;ll need to wait until Thursday afternoon (~2PM), <strong>so be sure to send the e-mail to ECE support the day before (e.g., Monday/Wednesday) to avoid waiting</strong>.</div>
<ul>
<li class="level3"><div class="li"> Despite this, you can still get the server ready and connectible by IP address, assuming ECE support added it to and rebooted their router.</div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Update the puppet configuration files for the new server/node.</div>
<ol>
<li class="level2"><div class="li"> Log in to the <a href="/wiki/doku.php?id=admin:compute_cluster_puppet_server" class="wikilink1" title="admin:compute_cluster_puppet_server"> puppet server</a></div>
</li>
<li class="level2"><div class="li"> Go to ~/cvmlp/manifests/cvmlp.pp</div>
<ol>
<li class="level3"><div class="li"> Copy the block from the most similar node (<em>i.e.</em>, werbos for GPU machines, mccarthy for CPU machiens, godel for web servers)</div>
</li>
<li class="level3"><div class="li"> Update any details as necessary (<em>e.g.</em>, the hostnames, the IP address, which eth# it will connect to the Internet by)</div>
</li>
</ol>
</li>
</ol>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Pre-installation Tasks" [1138-2400] -->
<h2 class="sectionedit3" id="hardware_installation">Hardware Installation</h2>
<div class="level2">

<p>
Depending on the new chassis, the ordering of how you want to install the hardware components. (The components are typically: lots of RAM sticks, 2-4 CPUs + heatsinks, 2 4TB HDDs, 1 1TB SSD, 10Gb network card, and GPUs (if any).)
</p>
<ul>
<li class="level1"><div class="li"> CPUs</div>
<ul>
<li class="level2"><div class="li"> There is usually a marking both (e.g., a little triangle/arrow) on the CPU chip and for the motherboard&#039;s CPU sockets. You want to make sure that these are aligned and then gently place the chip in and lock the levers down.</div>
</li>
<li class="level2"><div class="li"> Screw on the (giant) heatsinks, but first make sure they are aligned. Often, the heatsink has a sticker telling you the direction that the airflow (from the chassis fans) should go), so that should help you put it in the correct orientation.</div>
</li>
<li class="level2"><div class="li"> <strong><img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> For the old CPU chassis (<em>e.g.</em>, godel, marr), we would fold a piece of paper and put it in by CPU1 to direct the airflow and prevent overheating.</strong> If the server came with a big plastic piece over most of the CPU/RAM area, put it back before closing it up.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> RAM</div>
<ul>
<li class="level2"><div class="li"> Make sure the notches in the RAM sticks align with the motherboard slots and then place it in. Then push down and make sure the RAM clips in.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Hard drives</div>
<ul>
<li class="level2"><div class="li"> Different chassis have different support bays for hard drives, so figure it out and make sure the harddrives are screwed in and have both power and SATA cables going into them.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 10Gb network cards</div>
<ul>
<li class="level2"><div class="li"> For the big GPU machines, we buy a separate 10Gb network card that just slides in the back under the PSUs (Power Supply Units). <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> Make sure the card is facing the right direction (<em>i.e.</em>, look into the slot hole to see if the card should be higher or lower). The CPU machines sometimes don&#039;t need a separate card.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> GPUs</div>
<ul>
<li class="level2"><div class="li"> <strong> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> It is a good idea to start the machine up without <em>physically</em> installing the GPUs. See the <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#bios" class="wikilink1" title="compute_cluster_new_server"> BIOS section</a></span> below. </strong></div>
</li>
<li class="level2"><div class="li"> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> It might be better to just install the graphics cards after the <abbr title="Operating System">OS</abbr>, since CentOS installs the nouveau drivers first, but will uninstall those and install the NVIDIA ones anyway.</div>
</li>
<li class="level2"><div class="li"> Different graphics cards have slightly different form factors are different cabling. Look up documentation for new cards (or just open up a previous machine to try to copy their setup if you have the same graphics cards).</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Hardware Installation" [2401-4733] -->
<h3 class="sectionedit4" id="bios">BIOS</h3>
<div class="level3">

<p>
There are a few setting you <em>might</em> need to change in the BIOS to ensure smooth operation.
</p>

</div>

<h4 id="gpus">GPUs</h4>
<div class="level4">

<p>
Before you physically install the GPUs (might be specific to Titan Black ones…), you might need to change a BIOS setting. If you don&#039;t, it might not send video output to the adapter that is part of the chassis where the default 1Gb Ethernet ports are and <strong> it might hang before the BIOS screen, <em>e.g.</em>, “System Initializing… AE”</strong>. 
</p>
<ul>
<li class="level1"><div class="li"> In BIOS, go to: Chipset &gt; North Bridge &gt; IOH Configuration &gt; VGA Priority → Onboard (<strong> not </strong> Offboard).</div>
</li>
</ul>

</div>

<h4 id="hard_drives_raid">Hard drives/RAID</h4>
<div class="level4">

</div>

<h5 id="gpu_machines">GPU Machines</h5>
<div class="level5">

<p>
In BIOS, go to: Advanced &gt; SATA Configuration &gt; SATA Mode &gt; RAID Mode . Then, upon restart, press Control+i.
</p>
<ul>
<li class="level1"><div class="li"> Press “Create RAID Volume”</div>
<ol>
<li class="level2"><div class="li"> Name: Volume0</div>
</li>
<li class="level2"><div class="li"> RAID Level: RAID1 (mirror)</div>
</li>
<li class="level2"><div class="li"> Disks: Select the two 4TB HDDs</div>
</li>
<li class="level2"><div class="li"> Capacity: Default (let it be the maximum, <em>e.g.</em> 3539.7GB)</div>
<ul>
<li class="level3"><div class="li"> The utility said this was the max allowed size, even though both disks are a bit larger</div>
</li>
</ul>
</li>
</ol>
</li>
<li class="level1"><div class="li"> At start, everything should be green and say “Normal”</div>
</li>
</ul>

</div>

<h5 id="cpu_machines">CPU Machines</h5>
<div class="level5">

<p>
The CPU machines have a different chassis and setup. Typically, go to LSI SAS bios (second or third screen during bootup). You&#039;ll need to press Ctrl-C. Create a RAID1 partition with 2 4TB drives. (Manual says this should be done with another utility; that utility could never find any drives.) <strong> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> While building turing and marr, the utility that the manual suggests (Adaptec Raid Utility) could actually see all 3 drives and we create a RAID1 with that. </strong>
</p>

</div>

<h4 id="boot_sequence">Boot Sequence</h4>
<div class="level4">

<p>
We be install the <abbr title="Operating System">OS</abbr> onto the HDDs (no need to burden the SSDs for <abbr title="Operating System">OS</abbr>/programs that will just get loaded into memory). Thus, you will need to change the boot sequence so the order is (Linux) USB drive (if inserted…), HDDs, SSD. <strong> Failing to do so will result in a black screen with a blinking cursor after you install the <abbr title="Operating System">OS</abbr> to one drive when the boot order tells it to try the other one first. </strong>
</p>

</div>
<!-- EDIT4 SECTION "BIOS" [4734-6716] -->
<h2 class="sectionedit5" id="memtest">MemTest</h2>
<div class="level2">

<p>
You will need a bootable USB stick with MemTest on it (<em>e.g.</em>, <span class="curid"><a href="/wiki/doku.php?id=compute_cluster_new_server#os" class="wikilink1" title="compute_cluster_new_server"> one where there is Linux on it</a></span>). Once the hardware installed and working (to the best of your knowledge), run MemTest to try to find any possible faulty RAM sticks before people actually start using the new server.
</p>
<ol>
<li class="level1"><div class="li"> Boot Linux USB stick</div>
</li>
<li class="level1"><div class="li"> Go to MemTest option</div>
<ol>
<li class="level2"><div class="li"> Let it run until it finishes at least 2 passes (~1 day on GPU machines (with less RAM) and ~2 days on CPU machines (with more RAM)).</div>
</li>
</ol>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "MemTest" [6717-7244] -->
<h2 class="sectionedit6" id="operating_system_os">Operating System (OS)</h2>
<div class="level2">

<p>
First, if there&#039;s not one lying around, create a bootable USB stick with the correct version of Linux that will be installed on the server (as of Fall 2015, CentOS 6).
</p>

<p>
Now you&#039;re ready to boot up the <abbr title="Operating System">OS</abbr> installer in <abbr title="Graphical User Interface">GUI</abbr> mode:
</p>
<ol>
<li class="level1"><div class="li"> Type in the machine/host name (<em>e.g.</em>, godel, turing)</div>
</li>
<li class="level1"><div class="li"> root password: badR00Tpass (note: zero, not the letter O)</div>
</li>
<li class="level1"><div class="li"> Choose basic storage option</div>
<ul>
<li class="level2"><div class="li"> Choose “create custom layout” and have the following partition structure with ext4 (takes about 30 minutes to finish):</div>
<ul>
<li class="level3"><div class="li"> SSD</div>
<ul>
<li class="level4"><div class="li"> First 20GB (20000 <abbr title="Megabyte">MB</abbr>) on swap</div>
</li>
<li class="level4"><div class="li"> Remainder on /ssd_local</div>
</li>
</ul>
</li>
<li class="level3"><div class="li"> HDDs (RAID)</div>
<ul>
<li class="level4"><div class="li"> First 300GB (300000 <abbr title="Megabyte">MB</abbr>) on / </div>
</li>
<li class="level4"><div class="li"> Remainder on /hdd_local </div>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Boot Manager: </div>
<ul>
<li class="level2"><div class="li"> Set first BIOS device to main RAID drive</div>
</li>
<li class="level2"><div class="li"> Set second BIOS device to SSD</div>
</li>
<li class="level2"><div class="li"> Put bootloader on MBR; should be on first BIOS device (<em>i.e.</em>, RAID drive)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Initial user (will get deleted right away)</div>
<ul>
<li class="level2"><div class="li"> name: tmp_user</div>
</li>
<li class="level2"><div class="li"> password: password</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Check box to “Synchronize date and time over the network”</div>
</li>
<li class="level1"><div class="li"> Use default Kdump settings</div>
</li>
<li class="level1"><div class="li"> Reboot</div>
</li>
<li class="level1"><div class="li"> Use virtual terminal (Ctrl+Alt+F2) to log in as root</div>
</li>
<li class="level1"><div class="li"> $ yum update (2 min to DL, then yes to import GPG key, then 10 min to install)</div>
</li>
<li class="level1"><div class="li"> $ chkconfig NetworkManager off</div>
</li>
<li class="level1"><div class="li"> $ service NetworkManager stop</div>
</li>
<li class="level1"><div class="li"> $ userdel tmp_user</div>
</li>
<li class="level1"><div class="li"> Add to /etc/hosts:</div>
<ul>
<li class="level2"><div class="li"> 128.173.88.76   puppeteer.ece.vt.edu puppet</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> $ rpm -ivh  <a href="http://yum.puppetlabs.com/puppetlabs-release-el-6.noarch.rpm" class="urlextern" title="http://yum.puppetlabs.com/puppetlabs-release-el-6.noarch.rpm"  rel="nofollow">http://yum.puppetlabs.com/puppetlabs-release-el-6.noarch.rpm</a></div>
</li>
<li class="level1"><div class="li"> $ yum install puppet (yes to import GPG key)</div>
</li>
<li class="level1"><div class="li"> Add the following lines at the end of /etc/puppet/puppet.conf under [agent], where &lt;host&gt; is the machine name (<em>e.g.</em>, godel):</div>
<ul>
<li class="level2"><div class="li"> server = puppeteer.ece.vt.edu</div>
</li>
<li class="level2"><div class="li"> certname = &lt;host&gt;.ece.vt.edu</div>
</li>
<li class="level2"><div class="li"> environment = cvmlp</div>
</li>
<li class="level2"><div class="li"> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> Be sure to proofread what you type into puppet.conf. If there&#039;s a typo for &#039;environment = cvmlp&#039;, it will default to the ECE environment and not do what you need it to do (and change the root password).</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Test out puppet:</div>
<ul>
<li class="level2"><div class="li"> $ puppet agent -tv –noop 2&gt;&amp;1 | less -R</div>
</li>
<li class="level2"><div class="li"> <img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> Make sure you see stuff about cvmlpbase and things in the output, otherwise you might have a typo (see above).</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> If that seems to be able to run fine (there will be some errors, due to things like dependencies not being installed), actually let it install:</div>
<ul>
<li class="level2"><div class="li"> $ puppet agent -tv 2&gt;&amp;1 | less -R (3 min)</div>
</li>
<li class="level2"><div class="li"> Run this command 2 more times for safe measure</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Reboot (lets some share mounting and other things in the ecebase module take effect)</div>
</li>
<li class="level1"><div class="li"> Run puppet again. Typically, puppet will try to run after reboot, but just in case, do the same as above:</div>
<ul>
<li class="level2"><div class="li"> $ puppet agent -tv 2&gt;&amp;1 | less -R</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> VERY IMPORTANT; otherwise users will not be able to launch &gt;2 MATLAB instances with 12 workers each</div>
<ul>
<li class="level2"><div class="li"> Set ulimit max user processes to 16384 from 1024 (in /etc/security/limits.d/90­-nproc.conf):</div>
<ul>
<li class="level3"><div class="li"> * soft nproc 16384</div>
</li>
<li class="level3"><div class="li"> root soft nproc unlimited</div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> For GPU machines w/ K40s (currently rosenblatt and tesla):</div>
<ul>
<li class="level3"><div class="li"> See /home/cvmlp/gpu_config.sh for further instructions</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Install MATLAB</div>
<ul>
<li class="level2"><div class="li"> This used to be automated by puppet (see cvmlp@puppeteer.ece.vt.edu:cvmlp/modules/cvmlpbase_software/manifests/init.pp)</div>
</li>
<li class="level2"><div class="li"> We decided to stop using the automation because it required a copy of the matlab tarball to be sitting in the public</div>
</li>
<li class="level2"><div class="li"> Instead, do the following</div>
<ol>
<li class="level3"><div class="li"> Download MATLAB using (as root) (<img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> They might have rearranged the structure on /srv/matlab/…)</div>
<ul>
<li class="level4"><div class="li"> $ scp USER@filebox.ece.vt.edu:/srv/matlab/linux_r2013a.tar /ssd_local/code/</div>
</li>
<li class="level4"><div class="li"> $ scp USER@filebox.ece.vt.edu:/srv/matlab/linux_r2014a.tar.gz /ssd_local/code/</div>
</li>
</ul>
</li>
<li class="level3"><div class="li"> $ cd /ssd_local/code/</div>
<ul>
<li class="level4"><div class="li"> $ tar xzf linux_r2014a.tar.gz</div>
</li>
<li class="level4"><div class="li"> $ tar xf linux_r2013a.tar.gz</div>
</li>
</ul>
</li>
<li class="level3"><div class="li"> Change the mode to silent in r2014a/unix/linux_2014a_input.txt</div>
</li>
<li class="level3"><div class="li"> Change the mode to silent in files/r2013a/unix/linux_2013a_input.txt</div>
</li>
<li class="level3"><div class="li"> Run files/r2014a/unix/linux_2014a_install.sh</div>
</li>
<li class="level3"><div class="li"> Run files/r2013a/unix/linux_r2013a_install.sh</div>
</li>
<li class="level3"><div class="li"> Remove all matlab files from /ssd_local/code/</div>
</li>
</ol>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <strong><em class="u">Make sure that the root password gets changed (Dhruv needs to be told to do this)</em></strong></div>
</li>
</ol>

<p>
<br/>

</p>

<p>
For GPU machines, we currently manually install NVIDIA drivers and CUDA.
</p>
<ol>
<li class="level1"><div class="li"> <code>cd /share/</code></div>
</li>
<li class="level1"><div class="li"> Download (latest?) NVIDIA drivers (whatever is currently on other machines)</div>
<ul>
<li class="level2"><div class="li"> <em>E.g.</em>, <code>wget <a href="http://us.download.nvidia.com/XFree86/Linux-x86_64/352.21/NVIDIA-Linux-x86_64-352.21.run" class="urlextern" title="http://us.download.nvidia.com/XFree86/Linux-x86_64/352.21/NVIDIA-Linux-x86_64-352.21.run"  rel="nofollow">http://us.download.nvidia.com/XFree86/Linux-x86_64/352.21/NVIDIA-Linux-x86_64-352.21.run</a></code></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Download (latest?) CUDA software (whatever is currently on other machines)</div>
<ul>
<li class="level2"><div class="li"> <em>E.g.</em> <code>wget <a href="http://developer.download.nvidia.com/compute/cuda/6_5/rel/installers/cuda_6.5.14_linux_64.run" class="urlextern" title="http://developer.download.nvidia.com/compute/cuda/6_5/rel/installers/cuda_6.5.14_linux_64.run"  rel="nofollow">http://developer.download.nvidia.com/compute/cuda/6_5/rel/installers/cuda_6.5.14_linux_64.run</a></code></div>
</li>
</ul>
</li>
</ol>
<ul>
<li class="level1"><div class="li"> <code>chmod +x cuda_6.5.14_linux_64.run NVIDIA-Linux-x86_64-352.21.run</code></div>
</li>
</ul>
<ol>
<li class="level1"><div class="li"> Install NVIDIA drivers (as root)</div>
<ol>
<li class="level2"><div class="li"> <code>sudo -i</code></div>
</li>
<li class="level2"><div class="li"> <em>E.g.</em>, <code>./NVIDIA-Linux-x86_64-352.21.run</code></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Reboot?</div>
</li>
<li class="level1"><div class="li"> Install CUDA (as root) (but not NVIDIA drivers again)</div>
<ol>
<li class="level2"><div class="li"> <code>sudo -i</code></div>
</li>
<li class="level2"><div class="li"> <em>E.g.</em>, <code>./cuda_6.5.14_linux_64.run</code></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Reboot?</div>
</li>
</ol>
<pre class="code">Notes
To disable X server, as root:
$ init 3

You might need to get rid of the nouveau (OSS NVIDIA) drivers. To do this:
yum erase xorg-x11-drv-nouveau.x86_64
Added the following line to /etc/modprobe.d/blacklist.conf file:
blacklist nouveau
$ mv /boot/initramfs-$(uname -r).img /boot/initramfs-$(uname -r).img.bak   
$ dracut -v /boot/initramfs-$(uname -r).img $(uname -r)
$ reboot now</pre>
<pre class="code">Some old notes:
tl;dr;  nvidia driver version 331.62 is installed, though I’m not sure how
When we installed the Titan Blacks in rosenblatt I had to update the GPU drivers for them to work properly. Googling for “titan black linux drivers” came up with version 334.21, in which the release notes indicated that support for Titan Blacks was added. That led me to believe that the driver version (331.62) in the repos was insufficient.
Furthermore, there was a driver conflict when yum installing cuda.
This led me to get more recent linux drivers (340.32) and install them, which I did successfully.
When I next went to install cuda (yum install cuda; version 6.0) the command completed without error, but it managed to install version 331.62 of the driver from the repo. This is the machine’s current state.</pre>

<p>
<br/>

<strong><em class="u">Things we’d like to puppet (<em>i.e.</em>, make Branden setup)</em></strong>:
</p>
<ul>
<li class="level1"><div class="li"> Add higher limit to 90-nproc.conf</div>
</li>
<li class="level1"><div class="li"> pip shouldn’t try to install every time</div>
</li>
<li class="level1"><div class="li"> Add environment variable to indicate gpu or nogpu to PYTHONPATH</div>
</li>
<li class="level1"><div class="li"> Can we have puppet read some manifest file from /srv/share so admins won’t have to login to cvmlp on puppet?</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Operating System (OS)" [7245-] -->