
<h1 class="sectionedit1" id="code_snippets">Code Snippets</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Code Snippets" [1-29] -->
<h2 class="sectionedit2" id="heat_maps_in_matlab">Heat Maps in Matlab</h2>
<div class="level2">
<pre class="code">img = imread(...);
% heatmap is a 2D array
heatmap = immerses(heatmap, ...); % resize to be in the same as image
heatmap = mat2im(heatmap, jet(100), [0 0.2]);
% now heatmap is h*w*3
whatWeNeed = (heatmap + single(img)/255)/2; % if img is already between 0-1 then don’t divide 255

imshow(whatWeNeed);</pre>

<p>
<a href="/wiki/lib/exe/detail.php?id=code_snippets&amp;media=heat_maps.jpg" class="media" title="heat_maps.jpg"><img src="/wiki/lib/exe/fetch.php?w=300&amp;tok=277916&amp;media=heat_maps.jpg" class="media" alt="" width="300" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Heat Maps in Matlab" [30-] -->