
<h1 class="sectionedit1" id="torch">Torch</h1>
<div class="level1">

<p>
Torch (<a href="http://torch.ch/" class="urlextern" title="http://torch.ch/"  rel="nofollow">Official Website</a>) is a computing framework for LuaJIT, just like numpy and theano for python. Torch is built for deep learning, but can also be used to perform gradient-based optimization of other models. What makes Torch stand out is its blazing fast speed, highly flexible environment just like Matlab and python, easy to install, seamless CUDA integration and active support from Facebook and Google. 
</p>

</div>
<!-- EDIT1 SECTION "Torch" [1-454] -->
<h3 class="sectionedit2" id="using_torch_on_cvmlp_servers">1. Using Torch on CVMLP Servers</h3>
<div class="level3">

<p>
We recommend you to install your own torch. Follow the <a href="http://torch.ch/docs/getting-started.html" class="urlextern" title="http://torch.ch/docs/getting-started.html"  rel="nofollow"> instructions</a> on the torch webpage. Torch dependencies are already installed on the server (rosenblatt). You&#039;ll only need to git clone and install.
</p>
<pre class="code">git clone https://github.com/torch/distro.git ~/torch --recursive
cd ~/torch; ./install.sh</pre>

<p>
<strong>GPU Lock with Torch</strong>
</p>

<p>
The vtutils library has a GPU lock funtion. Example:
</p>
<pre class="code">vtutils=require(&#039;vtutils&#039;);
ID=vtutils.obtain_gpu_lock_id.get_id();
print(ID);
cutorch.setDevice(ID+1);</pre>

<p>
Use the ID you get as the gpuid for your torch code (more on this below). If no GPU is free, -1 is returned.
</p>

<p>
<strong>CUDA_VISIBLE_DEVICES</strong>
</p>

<p>
Torch by default occupies memory on all available GPU&#039;s on a machine. To avoid this from happening, it is recommended to set the CUDA_VISIBLE_DEVICES flag as the GPU ID you get from GPU LOCK (0 indexed). This can be done as follows:
</p>
<pre class="code">CUDA_VISIBLE_DEVICES=&quot;ID&quot; th [yourscript.lua] </pre>

<p>
Within yourscript.lua set the GPU ID to 1 (always) using cutorch.setDevice(1) when using CUDA_VISIBLE_DEVICES option.
</p>

<p>
If you are using your <strong>own</strong> installation of torch, install vtutils as follows:
</p>
<blockquote><div class="no">
 1. git clone <a href="https://github.com/VT-vision-lab/torch-utilities.git" class="urlextern" title="https://github.com/VT-vision-lab/torch-utilities.git"  rel="nofollow">https://github.com/VT-vision-lab/torch-utilities.git</a><br/>
 2. cd torch-utilities<br/>
 3. Remove any build directory which exists : rm -r build<br/>
 4. Type “luarocks make”<br/>
 5. vtutils is now added to your torch installation</div></blockquote>

</div>
<!-- EDIT2 SECTION "1. Using Torch on CVMLP Servers" [455-1915] -->
<h3 class="sectionedit3" id="doing_a_fresh_install_on_your_own_machines">2. Doing a Fresh Install on Your Own Machines</h3>
<div class="level3">

<p>
See <a href="/wiki/doku.php?id=torch_install" class="wikilink1" title="torch_install">Installing CUDA and Torch on Ubuntu 14.04</a>.
</p>

</div>
<!-- EDIT3 SECTION "2. Doing a Fresh Install on Your Own Machines" [1916-2036] -->
<h3 class="sectionedit4" id="learning_torch">3. Learning Torch</h3>
<div class="level3">

<p>
These materials might be helpful.
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://torch.ch/docs/five-simple-examples.html" class="urlextern" title="http://torch.ch/docs/five-simple-examples.html"  rel="nofollow">Five simple examples</a>. Simple Torch examples on optimizing a convex function.</div>
</li>
<li class="level1"><div class="li"> <a href="http://code.madbits.com/wiki/doku.php" class="urlextern" title="http://code.madbits.com/wiki/doku.php"  rel="nofollow">Machine Learning with Torch7</a>. Classification, autoencoder and graphical model examples in Torch.</div>
</li>
<li class="level1"><div class="li"> <a href="http://torch.ch/docs/cvpr15.html" class="urlextern" title="http://torch.ch/docs/cvpr15.html"  rel="nofollow">CVPR 2015 Torch Tutorial</a>. A blitz tutorial on basics of Torch.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/torch/torch7/blob/master/doc/tensor.md" class="urlextern" title="https://github.com/torch/torch7/blob/master/doc/tensor.md"  rel="nofollow">Tensor</a>. Torch Tensor documentation on GitHub.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/torch/nn/blob/master/doc/index.md" class="urlextern" title="https://github.com/torch/nn/blob/master/doc/index.md"  rel="nofollow">NN</a>. Torch nn documentation on GitHub.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/karpathy/char-rnn" class="urlextern" title="https://github.com/karpathy/char-rnn"  rel="nofollow">Char-RNN</a>. Andrej Kaparthy&#039;s Char-RNN implementation in Torch on GitHub.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/torch/torch7/wiki/Cheatsheet" class="urlextern" title="https://github.com/torch/torch7/wiki/Cheatsheet"  rel="nofollow">Torch7 Cheatsheet</a>. A cheatsheet that lists everything.</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "3. Learning Torch" [2037-] -->