
<h1 class="sectionedit1" id="lab-wide_python_installations">Lab-wide Python Installations</h1>
<div class="level1">

<p>
We currently mainly use Python 2.7 and Python 3.4, though CentOS 6.6 needs Python 2.6 as its main Python.
We deal with this via using a <a href="http://docs.python-guide.org/en/latest/dev/virtualenvs/" class="urlextern" title="http://docs.python-guide.org/en/latest/dev/virtualenvs/"  rel="nofollow">Python virtual environment</a> (<em>i.e.</em>, venv).
</p>

</div>
<!-- EDIT1 SECTION "Lab-wide Python Installations" [1-287] -->
<h2 class="sectionedit2" id="python_27_venv">Python 2.7 venv</h2>
<div class="level2">

<p>
To access the venv for a one-time-use, type the following into your terminal:
</p>
<pre class="code">bash /srv/share/lab_venv_2.7/bin/activate</pre>

<p>
or you can append the following at the end of your <code>~/.bashrc file</code>, if you want this venv to be loaded whenever you log onto a server machine:
</p>
<pre class="code">source &quot;/srv/share/lab_venv_2.7/bin/activate&quot;</pre>

<p>
. (You&#039;ll need to either log in again or type <code>source ~/.bashrc</code> to load the changes in your <code>~/.bashrc</code> file.)
</p>

<p>
Now your terminal should look like: <strong>(lab_venv_2.7)</strong>santol@godel:~$ (emphasis mine). You now will have access to a bunch of Python packages that we installed, such as numpy and scipy. Running the command &#039;pip list&#039; will display all pip-installable packages that the virtualenv currently has installed. <a href="https://github.com/jsvine/envplus" class="urlextern" title="https://github.com/jsvine/envplus"  rel="nofollow">Envplus</a> is one way of being able to create your own virtualenv on top of the lab one. Or you can just install whatever you need in your own personal virtualenv.
</p>

</div>
<!-- EDIT2 SECTION "Python 2.7 venv" [288-1277] -->
<h2 class="sectionedit3" id="python_34_venv">Python 3.4 venv</h2>
<div class="level2">

<p>
We also have a venv for Python 3.4.3. As of 2015-05-12, it had the same Python packages as the 2.7 venv. Everything discussed for 2.7 also applies here.
</p>

<p>
To access the venv for a one-time-use, type the following into your terminal:
</p>
<pre class="code">$ bash /srv/share/lab_venv_3.4/bin/activate</pre>

<p>
or you can append the following at the end of your <code>~/.bashrc file</code>, if you want this venv to be loaded whenever you log onto a server machine:
</p>
<pre class="code">source &quot;/srv/share/lab_venv_3.4/bin/activate&quot;</pre>

<p>
. Depending on what you want your main Python version do be, you&#039;ll only want to source one of the venvs.
</p>

</div>
<!-- EDIT3 SECTION "Python 3.4 venv" [1278-] -->