
<h1 class="sectionedit1" id="code_snippets">Code Snippets</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Code Snippets" [1-29] -->
<h2 class="sectionedit2" id="heat_maps_in_matlab">Heat Maps in Matlab</h2>
<div class="level2">
<dl class="file">
<dt><a href="/wiki/doku.php/code_snippets?do=export_code&amp;codeblock=0" title="Download Snippet" class="mediafile mf_m">heat_map.m</a></dt>
<dd><pre class="code file matlab">img = <a href="http://www.mathworks.com/access/helpdesk/help/techdoc/ref/imread.html"><span class="kw2">imread</span></a><span class="br0">&#40;</span><span class="sy0">...</span><span class="br0">&#41;</span>;
<span class="co1">% heatmap is a 2D array</span>
heatmap = immerses<span class="br0">&#40;</span>heatmap, <span class="sy0">...</span><span class="br0">&#41;</span>; <span class="co1">% resize to be in the same as image</span>
heatmap = mat2im<span class="br0">&#40;</span>heatmap, <a href="http://www.mathworks.com/access/helpdesk/help/techdoc/ref/jet.html"><span class="kw2">jet</span></a><span class="br0">&#40;</span><span class="nu0">100</span><span class="br0">&#41;</span>, <span class="br0">&#91;</span><span class="nu0">0</span> <span class="nu0">0.2</span><span class="br0">&#93;</span><span class="br0">&#41;</span>;
<span class="co1">% now heatmap is h*w*3</span>
whatWeNeed = <span class="br0">&#40;</span>heatmap + <a href="http://www.mathworks.com/access/helpdesk/help/techdoc/ref/single.html"><span class="kw2">single</span></a><span class="br0">&#40;</span>img<span class="br0">&#41;</span>/<span class="nu0">255</span><span class="br0">&#41;</span>/<span class="nu0">2</span>; <span class="co1">% if img is already between 0-1 then don’t divide 255</span>
&nbsp;
imshow<span class="br0">&#40;</span>whatWeNeed<span class="br0">&#41;</span>;</pre>
</dd></dl>

<p>
<a href="/wiki/lib/exe/detail.php/heat_maps.jpg?id=code_snippets" class="media" title="heat_maps.jpg"><img src="/wiki/lib/exe/fetch.php/heat_maps.jpg?w=300&amp;tok=277916" class="media" alt="" width="300" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Heat Maps in Matlab" [30-422] -->
<h2 class="sectionedit3" id="professional_tables_in_latex">Professional Tables in LaTeX</h2>
<div class="level2">

<p>
<a href="http://en.wikibooks.org/wiki/LaTeX/Tables#Professional_tables" class="urlextern" title="http://en.wikibooks.org/wiki/LaTeX/Tables#Professional_tables"  rel="nofollow">http://en.wikibooks.org/wiki/LaTeX/Tables#Professional_tables</a>
</p>
<dl class="file">
<dt><a href="/wiki/doku.php/code_snippets?do=export_code&amp;codeblock=1" title="Download Snippet" class="mediafile mf_txt">tables.txt</a></dt>
<dd><pre class="code file latex"><span class="co1">%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span>
<span class="re8">\begin</span><span class="sy0">{</span><span class="re9"><span class="re7">table</span><span class="sy0">}</span> <span class="re12">\footnotesize</span>
<span class="sy0">\</span><a href="http://www.golatex.de/wiki/index.php?title=%5Csetlength"><span class="kw1">setlength</span></a><span class="sy0">{</span><span class="re12">\tabcolsep</span><span class="sy0">}{</span>5.5pt<span class="sy0">}</span>
<span class="re8">\begin</span><span class="sy0">{</span><span class="re7">center</span><span class="sy0">}</span>
<span class="re8">\begin</span><span class="sy0">{</span><span class="re7">tabular</span>}{@{} l  c  c  c  c  c  c  c @{}</span><span class="sy0">}</span>
<span class="co1">%\hline</span>
<span class="re12">\toprule</span>
<span class="sy0">&amp;</span> <span class="re12">\multicolumn</span><span class="sy0">{</span><span class="re9">3}{c}{Open-Answer (OA)} &amp; <span class="re12">\multicolumn</span>{3}{c}{ Multiple-Choice (MC)*</span><span class="sy0">}</span> <span class="sy0">&amp;</span> Yes/No <span class="sy0">\\</span>
&nbsp;
<span class="co1">%\cline{2-8}</span>
<span class="re12">\cmidrule</span><span class="sy0">[</span><span class="re2">0.75pt</span><span class="sy0">]</span>(l)<span class="sy0">{</span><span class="re9">2-4<span class="sy0">}</span>
<span class="re12">\cmidrule</span><span class="sy0">[</span><span class="re2">0.75pt</span><span class="sy0">]</span>(lr)<span class="sy0">{</span>5-7<span class="sy0">}</span>
<span class="re12">\cmidrule</span><span class="sy0">[</span><span class="re2">0.75pt</span><span class="sy0">]</span>(lr)<span class="sy0">{</span>8-8<span class="sy0">}</span>
<span class="sy0">&amp;</span> <span class="re12">\multicolumn</span><span class="sy0">{</span>3<span class="sy0">}{</span>c<span class="sy0">}{</span>K<span class="sy0">}</span> <span class="sy0">&amp;</span> <span class="re12">\multicolumn</span>{3}{c}{ K </span><span class="sy0">}&amp;</span> K <span class="sy0">\\</span>
<span class="sy0">&amp;</span> 100 <span class="sy0">&amp;</span> 500 <span class="sy0">&amp;</span> 1000 <span class="sy0">&amp;</span> 100 <span class="sy0">&amp;</span> 500 <span class="sy0">&amp;</span> 1000 <span class="sy0">&amp;</span> 2 <span class="sy0">\\</span>
<span class="co1">%\hline</span>
<span class="re12">\midrule</span>
Question <span class="sy0">&amp;</span> 26.91 <span class="sy0">&amp;</span> 26.68 <span class="sy0">&amp;</span> 26.64 <span class="sy0">&amp;</span> 29.60 <span class="sy0">&amp;</span> 30.18 <span class="sy0">&amp;</span> 30.18 <span class="sy0">&amp;</span> 60.11<span class="sy0">\\</span>
Image <span class="sy0">&amp;</span> 16.29 <span class="sy0">&amp;</span> 16.29 <span class="sy0">&amp;</span> 16.29 <span class="sy0">&amp;</span> 15.78 <span class="sy0">&amp;</span> 15.76 <span class="sy0">&amp;</span> 15.78 <span class="sy0">&amp;</span> 53.79<span class="sy0">\\</span>
Caption <span class="sy0">&amp;</span> 16.08 <span class="sy0">&amp;</span> 16.03 <span class="sy0">&amp;</span> 16.03 <span class="sy0">&amp;</span> 16.11 <span class="sy0">&amp;</span> 15.98 <span class="sy0">&amp;</span> 15.90 <span class="sy0">&amp;</span> 53.22<span class="sy0">\\</span>
Q+I <span class="sy0">&amp;</span> 27.28 <span class="sy0">&amp;</span> 27.13 <span class="sy0">&amp;</span> 26.78 <span class="sy0">&amp;</span> 29.70 <span class="sy0">&amp;</span> 30.47 <span class="sy0">&amp;</span> 30.15 <span class="sy0">&amp;</span> 60.02<span class="sy0">\\</span>
Q+C <span class="sy0">&amp;</span> 30.34 <span class="sy0">&amp;</span> 29.70 <span class="sy0">&amp;</span> 29.36 <span class="sy0">&amp;</span> 32.29 <span class="sy0">&amp;</span> 32.86 <span class="sy0">&amp;</span> 32.56 <span class="sy0">&amp;</span> 59.16<span class="sy0">\\</span>
Q+I+C <span class="sy0">&amp;</span> 30.41 <span class="sy0">&amp;</span> 28.91 <span class="sy0">&amp;</span> 29.39 <span class="sy0">&amp;</span> 32.33 <span class="sy0">&amp;</span> 32.24 <span class="sy0">&amp;</span> 32.45 <span class="sy0">&amp;</span> 59.28<span class="sy0">\\</span>
&nbsp;
<span class="re12">\bottomrule</span>
<span class="co1">%Human &amp; &amp; &amp; &amp; &amp; &amp; &amp; \\</span>
<span class="co1">%\hline</span>
<span class="re8">\end</span><span class="sy0">{</span><span class="re9"><span class="re7">tabular</span><span class="sy0">}</span>
<span class="sy0">\</span><a href="http://www.golatex.de/wiki/index.php?title=%5Ccaption"><span class="kw1">caption</span></a><span class="sy0">{</span>Results on different question tasks for various baselines on real images. All results are the percentage of answers in agreement with human subjects. *<span class="sy0">\</span><a href="http://www.golatex.de/wiki/index.php?title=%5Chspace"><span class="kw1">hspace</span></a><span class="sy0">{</span>1pt<span class="sy0">}</span>The set of questions differ between OA and MC, so MC accuracies may not be strictly higher than OA.<span class="sy0">}</span>
<span class="sy0">\</span><a href="http://www.golatex.de/wiki/index.php?title=%5Cvspace"><span class="kw1">vspace</span></a><span class="sy0">{</span>-8pt<span class="sy0">}</span>
<span class="sy0">\</span><a href="http://www.golatex.de/wiki/index.php?title=%5Clabel"><span class="kw1">label</span></a><span class="sy0">{</span>tab:acc<span class="sy0">}</span>
<span class="re8">\end</span><span class="sy0">{</span><span class="re7">center</span><span class="sy0">}</span>
<span class="re8">\end</span><span class="sy0">{</span><span class="re7">table</span></span><span class="sy0">}</span>
<span class="co1">%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></pre>
</dd></dl>

<p>
<a href="/wiki/lib/exe/detail.php/prof_table.jpg?id=code_snippets" class="media" title="prof_table.jpg"><img src="/wiki/lib/exe/fetch.php/prof_table.jpg?w=200&amp;tok=73a1f5" class="media" alt="" width="200" /></a>
</p>

</div>
<!-- EDIT3 SECTION "Professional Tables in LaTeX" [423-] -->