
<h1 class="sectionedit1" id="general_purchasing_procedure">General Purchasing Procedure</h1>
<div class="level1">

<p>
In order to purchase things for the lab, you must submit a purchase request to the ECE department.
You will first need to ask Devi and/or Dhruv which fund number(s) (and if multiple, what percentage on each) to put the purchase on (you will need this to fill out the form).
</p>
<ol>
<li class="level1"><div class="li"> Go to <a href="https://www.internal.ece.vt.edu" class="urlextern" title="https://www.internal.ece.vt.edu"  rel="nofollow">ECE Internal Page</a></div>
</li>
<li class="level1"><div class="li"> Log in with your VT PID credentials.</div>
</li>
<li class="level1"><div class="li"> Click on “Purchasing” (under Finances)</div>
</li>
<li class="level1"><div class="li"> Click on “Purchasing Order Form”</div>
</li>
<li class="level1"><div class="li"> Click on “Submit New Purchase Request”</div>
</li>
<li class="level1"><div class="li"> Fill out the form as much as possible (<em>e.g.</em>, for Amazon, feel free to leave most things as NA)</div>
<ol>
<li class="level2"><div class="li"> Shipping Address: “453 Whittemore”</div>
</li>
<li class="level2"><div class="li"> Shipping Method: “Ground”</div>
</li>
<li class="level2"><div class="li"> Inside Delivery: Typically, “No, will not pay fee for indoor delivery of overweight items.”</div>
</li>
<li class="level2"><div class="li"> Hazmat: Typically, “No, order does not contain hazmat.”</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Submit form</div>
</li>
<li class="level1"><div class="li"> Wait for Devi and/or Dhruv to approve it</div>
</li>
<li class="level1"><div class="li"> Wait for <a href="mailto:&#x61;&#x74;&#x6b;&#x69;&#x6e;&#x73;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;" class="mail" title="&#x61;&#x74;&#x6b;&#x69;&#x6e;&#x73;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;">Kathy Atkins</a> to approve it</div>
</li>
<li class="level1"><div class="li"> Possibly need to talk with <a href="mailto:&#x6b;&#x6b;&#x6d;&#x65;&#x64;&#x6c;&#x65;&#x79;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;" class="mail" title="&#x6b;&#x6b;&#x6d;&#x65;&#x64;&#x6c;&#x65;&#x79;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;">Kim Medley</a> if she&#039;ll need other information from you to do the actual purchase</div>
</li>
<li class="level1"><div class="li"> Wait for it to arrive, checking the delivery room (453) to see if it came in.</div>
<ol>
<li class="level2"><div class="li"> Make sure to sign the book to indicate who picked up the package <strong>and</strong> put the packing slip in Kim Medley&#039;s mail box.</div>
</li>
</ol>
</li>
</ol>

</div>
