
<h1 class="sectionedit1" id="computing_devices">Computing Devices</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Computing Devices" [1-33] -->
<h2 class="sectionedit2" id="servers">Servers</h2>
<div class="level2">

<p>
Computer names are:
</p>

<p>
<code>&lt;computer_name&gt;.ece.vt.edu</code>
</p>
<ul>
<li class="level1"><div class="li"> CPU machines (each has 64 cores of AMD processors, 512GB RAM, unless otherwise noted)</div>
<ul>
<li class="level2"><div class="li"> godel (256GB RAM, also is running a web server)</div>
</li>
<li class="level2"><div class="li"> turing</div>
</li>
<li class="level2"><div class="li"> marr</div>
</li>
<li class="level2"><div class="li"> vapnik</div>
</li>
<li class="level2"><div class="li"> minsky</div>
</li>
<li class="level2"><div class="li"> mccarthy</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> GPU machines</div>
<ul>
<li class="level2"><div class="li"> rosen(blatt) (8 cores of Intel processors, 32GB RAM, 3 GPUs (1x K40, 2x TITAN X))</div>
</li>
<li class="level2"><div class="li"> tesla (32 cores of Intel processors, 384GB RAM, 8 GPUs (8x K40))</div>
</li>
<li class="level2"><div class="li"> hebb (32 cores of Intel processors, 384GB RAM, 8 GPUs (8x TITAN Black))</div>
</li>
<li class="level2"><div class="li"> werbos (32 cores of Intel processors, 384GB RAM, 16 GPUs (8x K80))</div>
</li>
<li class="level2"><div class="li"> fuku(shima) (32 cores of Intel processors, 384GB RAM, 10 GPUs (4x K80, 2x TITAN Black))</div>
</li>
</ul>
</li>
</ul>

<p>
The name list and their shorter aliases can be found within <code>/srv/share/lab_helpful_files/config</code>
</p>

</div>
<!-- EDIT2 SECTION "Servers" [34-838] -->
<h2 class="sectionedit3" id="cloud_computing">Cloud Computing</h2>
<div class="level2">

<p>
We occasionally get academic grants and have some cloud computing resources available (<em>e.g.</em>, AWS, Azure). Check with Dhruv for more details.
</p>

</div>
<!-- EDIT3 SECTION "Cloud Computing" [839-1013] -->
<h2 class="sectionedit4" id="computers">Computers</h2>
<div class="level2">

<p>
There is technically an old laptop around, if you&#039;re desperate. We don&#039;t keep good track of it, so just ask around if you need it.
</p>

</div>
<!-- EDIT4 SECTION "Computers" [1014-1168] -->
<h2 class="sectionedit5" id="gpus_in_desktops">GPUs in Desktops</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Jianwei</div>
</li>
<li class="level1"><div class="li"> Ram</div>
</li>
<li class="level1"><div class="li"> Michael</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "GPUs in Desktops" [1169-] -->