
<h1 class="sectionedit1" id="misc_equipment">Misc. Equipment</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Laser printer</div>
</li>
<li class="level1"><div class="li"> Projector (useful for demos at conferences) </div>
<ul>
<li class="level2"><div class="li"> Located in the lab cabinet</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> USB speakers (useful for group meetings when someone is on Skype/Hangouts)</div>
<ul>
<li class="level2"><div class="li"> Located in the lab cabinet</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Kinect (old model)</div>
<ul>
<li class="level2"><div class="li"> Located in the lab cabinet</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Mini-fridge</div>
</li>
<li class="level1"><div class="li"> Microwave</div>
</li>
<li class="level1"><div class="li"> <a href="http://www.amazon.com/Nespresso-D121-US-BK-NE1-Espresso-Aeroccino-Frother/dp/B009SMB60Y" class="urlextern" title="http://www.amazon.com/Nespresso-D121-US-BK-NE1-Espresso-Aeroccino-Frother/dp/B009SMB60Y"  rel="nofollow">Espresso machine</a></div>
<ul>
<li class="level2"><div class="li"> Need to buy your own pods (<em>e.g.</em>, <a href="http://www.amazon.com/Nespresso-Variety-Pack-Capsules-Count/dp/B0099HD3YA" class="urlextern" title="http://www.amazon.com/Nespresso-Variety-Pack-Capsules-Count/dp/B0099HD3YA"  rel="nofollow">these</a>)</div>
</li>
</ul>
</li>
</ul>

</div>
