
<h1 class="sectionedit1" id="getting_your_lab_account">Getting Your Lab Account</h1>
<div class="level1">

<p>
You will need an ECE IT department account (for some reason, called CAD and Visualization Lab (CVL) account) to use our servers. If you&#039;re an intern, ask Devi/Dhruv. If you&#039;re a VT student (with a VT PID), go to <a href="https://computing.ece.vt.edu/wiki/Main_Page" class="urlextern" title="https://computing.ece.vt.edu/wiki/Main_Page"  rel="nofollow">ECE@VT</a>.
</p>

</div>
