
<h1 class="sectionedit1" id="cv-mlp_compute_cluster_admin_documentation">CV-MLP Compute Cluster Admin Documentation</h1>
<div class="level1">

<p>
This document (hopefully…) contains (or points to) all relevant information about maintaining the <em class="u">CV-MLP Compute Cluster.</em>
</p>
<ul>
<li class="level1"><div class="li"> The list of admins can be found below. </div>
</li>
<li class="level1"><div class="li"> Software installation is described below. </div>
</li>
<li class="level1"><div class="li"> Server maintenance notes can be found <a href="/wiki/doku.php?id=compute_cluster_server_maintenance" class="wikilink1" title="compute_cluster_server_maintenance"> here</a>.</div>
</li>
<li class="level1"><div class="li"> Server building notes can be found <a href="/wiki/doku.php?id=compute_cluster_new_server" class="wikilink1" title="compute_cluster_new_server"> here</a>.</div>
</li>
<li class="level1"><div class="li"> The old building documentation can be found <a href="/wiki/doku.php?id=old_build_documentation" class="wikilink1" title="old_build_documentation"> here</a>.</div>
</li>
</ul>

<p>
<br/>

<em class="u">Current Admins</em>
</p>
<ul>
<li class="level1"><div class="li"> cvmlp (password: J7yecHeju&amp;re)</div>
</li>
<li class="level1"><div class="li"> Devi </div>
</li>
<li class="level1"><div class="li"> Dhruv</div>
</li>
<li class="level1"><div class="li"> Michael</div>
</li>
<li class="level1"><div class="li"> Stan</div>
</li>
<li class="level1"><div class="li"> Harsh</div>
</li>
<li class="level1"><div class="li"> Rama</div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "CV-MLP Compute Cluster Admin Documentation" [1-649] -->
<h2 class="sectionedit2" id="new_software_installation_procedure">New Software Installation Procedure</h2>
<div class="level2">

<p>
During the week of 2015/01/05, we re-installed everything and made our machines consistent (modulo hardware configurations such as GPUs). <img src="/wiki/lib/images/smileys/local/button-warning-red.png" class="icon" alt=":WARNING:" /> In order to do this, we are now using a program called puppet (run by ECE IT) to manage our machines. Thus, any future software <em class="u">MUST BE INSTALLED VIA PUPPET</em> or else Dhruv will hunt you down and give you very difficult problem sets. <img src="/wiki/lib/images/smileys/icon_razz.gif" class="icon" alt=":-P" />
</p>

<p>
You have four options for installing software: <em class="u">yum</em>, <em class="u">pip</em> (Python-only), <em class="u">self-downloaded RPMs</em>, and <em class="u">source</em>.
</p>

<p>
As before, please leave a comment (in the puppet file(s)) that includes your name, the date, what version of the software (if important), and why you added that (if less obvious). More details about the puppet setup can be found in the puppet guide.
</p>

</div>
<!-- EDIT2 SECTION "New Software Installation Procedure" [650-1461] -->
<h3 class="sectionedit3" id="installing_software_yum">Installing Software (yum)</h3>
<div class="level3">

<p>
yum is the package manager used by CentOS (and other Red Hat-based Linux distributions), similar to apt-get on Debian-based distributions (e.g., Ubuntu). For consistency and ease-of-installation across all machines, software will now be taken care of by puppet.
</p>

<p>
<em class="u">Basic Method</em>
</p>
<ol>
<li class="level1"><div class="li"> Install package to test (if it’s the right thing)</div>
<ol>
<li class="level2"><div class="li"> <pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> <span class="kw2">yum install</span> <span class="sy0">&lt;</span>package_name<span class="sy0">&gt;</span></pre>
</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Remove package to ensure puppet installs it (for consistency)</div>
<ol>
<li class="level2"><div class="li"> <pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> <span class="kw2">yum remove</span> <span class="sy0">&lt;</span>package_name<span class="sy0">&gt;</span></pre>
</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> Add package to puppet (see puppet basic use for a rough overview)</div>
<ol>
<li class="level2"><div class="li"> Log in to cvmlp@puppeteer.ece.vt.edu (Password: Bc$mSkS_B9)</div>
</li>
<li class="level2"><div class="li"> Add the package to <code>~/cvmlp/modules/cvmlp_software/manifests/init.pp</code> by copying an example from the top of the file and adding it to the end of the cvmlp_software class (look for <code>‘# add stuff here comment’</code>)</div>
</li>
<li class="level2"><div class="li"> E.g., to add a package:<pre class="code">package { ‘&lt;package_name&gt;’:
    ensure =&gt; ‘present’,
}</pre>
</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> <pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> puppet agent <span class="re5">-tv</span> <span class="nu0">2</span><span class="sy0">&gt;&amp;</span><span class="nu0">1</span> <span class="sy0">|</span> <span class="kw2">less</span> <span class="re5">-R</span> </pre>

<p>
(though you may want to run it with –noop after -tv to do a dry run first, as seen in basic puppet use)
</p>
</div>
</li>
<li class="level1"><div class="li"> yum does tab-completion, so it’s often good to type in the first few letters and letting it fill in the rest</div>
</li>
<li class="level1"><div class="li"> To see which packages are available/installed  </div>
<ul>
<li class="level2"><div class="li"> <pre class="code bash"><span class="co4">$</span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> <span class="kw2">yum list</span> available</pre>
</div>
</li>
<li class="level2"><div class="li"> <pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> <span class="kw2">yum list</span> installed</pre>
</div>
</li>
</ul>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Installing Software (yum)" [1462-2925] -->
<h3 class="sectionedit4" id="other_software_installation_methods">Other Software Installation Methods</h3>
<div class="level3">

<p>
Occasionally, you will not be able to find software (either in general or the required version) via yum. Thus you’ll need a different approach. Here we describe other approaches.
</p>

<p>
<em class="u">Methods in Order of Preference</em>:
</p>
<ol>
<li class="level1"><div class="li"> Existing package (i.e., possible to install via yum or Python’s pip)</div>
</li>
<li class="level1"><div class="li"> Package which exists in another repo (i.e., first you install the repo’s RPM (#3), then proceed with installing via yum (#1))</div>
</li>
<li class="level1"><div class="li"> RPM from a trusted source</div>
</li>
<li class="level1"><div class="li"> Custom RPM created from source install</div>
</li>
</ol>

<p>
<img src="/wiki/lib/images/smileys/local/button-note-yellow.png" class="icon" alt=":NOTE:" /> If you just want to play around with some software and don’t want to fool with puppet, there is often a way to install it locally, such as by changing the Makefile configuration (e.g., <code>./configure –prefix=/home/cogswell/usr/</code>). Anything you install system-wide should be done via puppet (e.g., a self-built/custom RPM which then gets installed puppet).
</p>

</div>

<h4 id="pip_python-based_packages">pip (Python-based packages)</h4>
<div class="level4">

<p>
See examples in ‘init.pp’ files (which can be found by reading the puppet guide).
</p>

</div>

<h4 id="rpms_from_trusted_source">RPMs From Trusted Source</h4>
<div class="level4">

<p>
The recommended way to install RPMs not in a repo via puppet is to host your own repo somewhere then install things through that repo, but we’ve chosen to use a simpler method of storing the RPM on the puppet server.
</p>

<p>
First, download the RPM to the puppet server in the appropriate ‘files’ directory (see the puppet guide for details). You can do this via wget or download it and then scp it over. Now that RPM can be installed using an example in the ‘init.pp’ files (again, which can be found by reading the puppet guide). You should know that the file path
</p>

<p>
<code>~/cvmlp/modules/cvmlpbase_software/files/opencv-gpu-2.4.10.1-1.x86_64.rpm </code> can be referenced as <code>‘puppet:///modules/cvmlpbase_software/opencv-gpu-2.4.10.1-1.x86_64.rpm’</code> from within an ‘init.pp’ file (note the lack of the ‘files’ folder).
</p>

</div>

<h4 id="rpms_from_source">RPMs From Source</h4>
<div class="level4">

<p>
Installing from “source” (i.e., the source code provided by the authors) is another way to install new software. Sometimes, this is unavoidable, either due to custom software or packages (or the necessary version) not being in one of the existing yum repos. 
</p>

<p>
If you find a repo with a package available for the desired software then it may be a good idea to install that repo. Assuming that you can’t find such a package, then it’s fairly simple to create an RPM yourself then install it via puppet. Suppose you’ve run the commands to build your software (as the cvmlp user–not root–on a lab machine), e.g.,
</p>
<pre class="code bash"><span class="co4">$ </span>.<span class="sy0">/</span>configure</pre>

<p>
<br/>

</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">make</span></pre>

<p>
Normally you would then run <code>‘$ sudo make install’</code>, but run the following instead to create a custom RPM that installs the software:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">sudo</span> checkinstall <span class="re5">--install</span>=no <span class="re5">-R</span> <span class="re5">--nodoc</span> <span class="kw2">make</span> <span class="kw2">install</span></pre>

<p>
After you enter a short description for the package you’re creating this will run for a while then put an rpm at <code>/root/rpmbuild/RPMS/x86_64/</code>; it will NOT install the software on the machine you run the command from. You might want to first test the RPM to see if it works:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">sudo</span> rpm <span class="re5">-Uvh</span> <span class="sy0">/</span>root<span class="sy0">/</span>rpmbuild<span class="sy0">/</span>RPMS<span class="sy0">/</span>x86_64<span class="sy0">/&lt;</span>new_rpm<span class="sy0">&gt;</span>.rpm</pre>

<p>
If it does seem to work then install it via puppet just like other RPMs are installed.
</p>

<p>
Some things require tweaking the RPM a little bit (e.g., making it run ldconfig after installing/uninstalling the package). Some examples (e.g., OpenCV) can be found in <code>/home/cvmlp/RPMS_README.md</code> (i.e., you need to be logged in as the cvmlp user).
</p>

</div>
<!-- EDIT4 SECTION "Other Software Installation Methods" [2926-6467] -->
<h2 class="sectionedit5" id="puppet_guide">puppet Guide</h2>
<div class="level2">

<p>
Basic Use covers how to install packages and Advanced Use describes some more about the puppet installation pipeline and how to add a new server.
</p>

<p>
<em class="u">Basic Use</em>
</p>

<p>
To access the puppet server:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw2">ssh</span> cvmlp<span class="sy0">@</span>puppeteer.ece.vt.edu</pre>

<p>
<code>Password: Bc$mSkS_B9</code>
</p>

<p>
Within home, there is a folder (it’s actually a link to elsewhere) called ‘cvmlp’.
You want to go to the modules folder:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw3">cd</span> cvmlp<span class="sy0">/</span>modules</pre>

<p>
There are three main modules…
</p>
<ul>
<li class="level1"><div class="li"> cvmlp_software–software that will be generally useful to the lab</div>
</li>
<li class="level1"><div class="li"> cloudcv–software needed for the CloudCV project/website</div>
</li>
<li class="level1"><div class="li"> webdev–software that is needed for random webdev-related stuff (e.g., WhitteSearch demo, NodeJS for MTurk HITs)</div>
</li>
</ul>

<p>
… <strong>and two fixed modules</strong>
</p>
<ul>
<li class="level1"><div class="li"> cvmlpbase–basic machine configuration (users, groups, file share, etc.)</div>
</li>
<li class="level1"><div class="li"> cvmlpbase_software–commonly used software we thought to install during the machine refresh (e.g. Python 2.7, OpenCV 2.4.10.1, Caffe, MATLAB)</div>
</li>
</ul>

<p>
Within each of these there are the ‘files’ folder (used for any files you need to copy to a new machine, e.g., an RPM, Bash script) and the ‘manifests’ folder. The ‘manifests’ folder contains the ‘init.pp’ file that you will need to edit. <strong>The order of packages/files/etc. in these files does not match the order puppet will run things in.</strong> Thus, to ensure one thing happening before another, you need to explicitly state dependencies (as requirements).
</p>

<p>
After you update a manifest file, see if your changes are parsed correctly by running the following on one of the lab machines:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> puppet agent <span class="re5">-tv</span> <span class="re5">--noop</span></pre>

<p>
(more readable output: $ (sudo) puppet agent -tv –noop 2&gt;&amp;1 | less -R)
</p>

<p>
Next actually update a machine by running:
</p>
<pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> puppet agent <span class="re5">-tv</span></pre>

<p>
(
</p>
<pre class="code bash"><span class="co4">$ </span><span class="br0">&#40;</span><span class="kw2">sudo</span><span class="br0">&#41;</span> puppet agent <span class="re5">-tv</span> <span class="nu0">2</span><span class="sy0">&gt;&amp;</span><span class="nu0">1</span> <span class="sy0">|</span> <span class="kw2">less</span> <span class="re5">-R</span></pre>

<p>
)
</p>

<p>
We have included some examples of different ways to install things within the ‘init.pp’ files in the 3 main modules. You’re also welcome to browse the other .pp files (e.g., in cvmlpbase_software) for additional examples of how to do things in puppet (or Google around for help).
</p>

<p>
List of example tasks:
</p>
<ul>
<li class="level1"><div class="li"> install single package from repo</div>
</li>
<li class="level1"><div class="li"> install multiple packages from repo</div>
</li>
<li class="level1"><div class="li"> install custom rpm</div>
</li>
<li class="level1"><div class="li"> run a command</div>
</li>
<li class="level1"><div class="li"> install pip package (to system-wide python 2.7)</div>
</li>
<li class="level1"><div class="li"> ensure file is present and has certain contents</div>
</li>
</ul>

<p>
<em class="u">Advanced Use</em>
</p>

<p>
In addition to the modules, there are also some cvmlp environment manifest files, site.pp and cvmlp.pp found in: 
</p>
<pre class="code bash"><span class="co4">$ </span><span class="kw3">cd</span> cvmlp<span class="sy0">/</span>manifiests</pre>

<p>
site.pp contains some very general, ECE department stuff (such as LDAP account) along with the ‘stages’ that we define. Stages are a way to force certain modules to execute before others. We require that ecebase is installed before cvmlpbase, then cvmlpbase_software after it, and so on. Chances are you will not need to touch this.
</p>

<p>
cvmlp.pp contains all our the labs’ machines (called nodes) and their relevant information. 
</p>

<p>
For example, godel’s node is show below. The other nodes would not include the cloudcv and webdev classes. In addition, we include one of two cvmlpbase_software sub-classes. 
</p>

<p>
For godel and other CPU-only machines, we include the nogpu sub-class (i.e., cvmlpbase_software::nogpu). 
</p>

<p>
For rosenblatt and other GPU machines, we include the gpu sub-class (i.e., cvmlpbase_software::gpu). 
</p>

<p>
Thus, to add a new machine, you just need to copy-and-paste an existing node and change any necessary information, such and the hostname, the IP, which classes to include, and so on.
</p>
<pre class="code">node &#039;godel.ece.vt.edu&#039; {

  class { &#039;cvmlpbase&#039;: stage =&gt; &#039;cvmlpbase’ }
  class { &#039;cvmlpbase_software::nogpu&#039;: stage =&gt; &#039;cvmlpbase_software&#039; }
  class { &#039;cvmlp_software&#039;: stage =&gt; &#039;cvmlp_software&#039; }
  class { &#039;cloudcv&#039;: stage =&gt; &#039;cloudcv&#039; }
  class { &#039;webdev&#039;: stage =&gt; &#039;webdev&#039; }

  host { &#039;godel&#039;:
	ensure      	=&gt; &#039;present&#039;,
	name        	=&gt; &#039;godel.ece.vt.edu&#039;,
	host_aliases	=&gt; &#039;godel&#039;,
	ip          	=&gt; &#039;128.173.88.252&#039;,
  }

  network::if::static { &#039;eth0&#039;:
	ensure	=&gt; &#039;up&#039;,
	ipaddress =&gt; &#039;128.173.88.252&#039;,
	netmask   =&gt; &#039;255.255.252.0&#039;,
	gateway   =&gt; &#039;128.173.88.1&#039;,
	dns1  	=&gt; &#039;128.173.88.31&#039;,
	dns2  	=&gt; &#039;198.82.247.98&#039;,
	peerdns   =&gt; true,
  }
}</pre>

<p>
<img src="/wiki/lib/images/smileys/local/button-todo-yellow.png" class="icon" alt=":TODO:" /> Add stuff about &lt;vision/ml&gt;.ece.vt.edu links
</p>

</div>
<!-- EDIT5 SECTION "puppet Guide" [6468-] -->