
<h1 class="sectionedit1" id="this_is_the_wiki_for_the_cv-mlp_lab_at_virginia_tech">This is the Wiki for the CV-MLP Lab at Virginia Tech</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=new_students" class="wikilink1" title="new_students">New Students Info</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=compute_cluster_documentation" class="wikilink1" title="compute_cluster_documentation">Compute Cluster Documentation</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=package_list" class="wikilink1" title="package_list">Package List</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=amt" class="wikilink1" title="amt">Amazon Mechanical Turk</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=code_snippets" class="wikilink1" title="code_snippets">Code Snippets</a></div>
</li>
</ol>

<p>
<a href="https://wiki.lnt.ei.tum.de/lib/exe/fetch.php?media=dokuwiki_cheatsheet.pdf" class="urlextern" title="https://wiki.lnt.ei.tum.de/lib/exe/fetch.php?media=dokuwiki_cheatsheet.pdf"  rel="nofollow">Dokuwiki Syntax Sheet</a>
</p>

</div>
