
<h1 class="sectionedit1" id="setting_up_lpo">Setting up LPO</h1>
<div class="level1">

<p>
<em class="u">LPO</em> <br/>

<a href="https://github.com/philkr/lpo" class="urlextern" title="https://github.com/philkr/lpo"  rel="nofollow">lpo</a> is a new object proposal method.
</p>

<p>
<em class="u">Using newer GCC</em> <br/>

To use GCC 4.8.2, which is <strong>not</strong> the machine default version, enter
</p>
<pre class="code">$ scl enable devtoolset-2 bash</pre>

<p>
into your terminal. You can double-check that it by typing <code>gcc –version</code>.
</p>

<p>
<em class="u">Installing LPO</em> <br/>

Go to the base directory you want to install <code>lpo</code>.
</p>
<pre class="code">cd &lt;directory_to_create_lpo_folder_in&gt;
git clone https://github.com/philkr/lpo.git
cd lpo
vim CMakeLists.txt</pre>

<p>
Underneath the line
</p>
<pre class="code">option( USE_PYTHON &quot;Enable the python wrapper&quot; ON )</pre>

<p>
add the following line 
</p>
<pre class="code">SET( USE_PYTHON 2 )</pre>

<p>
 to make use of Python2.7 (which is what the <a href="/wiki/doku.php?id=python_venv" class="wikilink1" title="python_venv">lab virtual environment</a> is running).
</p>

<p>
Now you should be able to follow their instructions:
</p>
<pre class="code">mkdir build
cd build
cmake .. -DCMAKE_BUILD_TYPE=Release -DDATA_DIR=/path/to/datasets
make -j8</pre>

<p>
I was running into issues on the servers (didn&#039;t face this on my laptop Ubuntu install) with it not compiling Python due to Boost stuff.
In /usr/lib64/boost/Boost-relwithdebinfo.cmake, changing it from
</p>
<pre class="code"># Import target &quot;boost_python-mt-shared&quot; for configuration &quot;RelWithDebInfo&quot;
SET_PROPERTY(TARGET boost_python-mt-shared APPEND PROPERTY IMPORTED_CONFIGURATIONS RELWITHDEBINFO)
SET_TARGET_PROPERTIES(boost_python-mt-shared PROPERTIES
  IMPORTED_LINK_INTERFACE_LIBRARIES_RELWITHDEBINFO &quot;pthread;rt;/usr/lib64/python2.6/config/libpython2.6.so&quot;
  IMPORTED_LOCATION_RELWITHDEBINFO &quot;${_IMPORT_PREFIX}/lib64/libboost_python-mt.so.5&quot;
  IMPORTED_SONAME_RELWITHDEBINFO &quot;libboost_python-mt.so.5&quot;
)</pre>

<p>
to
</p>
<pre class="code"># Import target &quot;boost_python-mt-shared&quot; for configuration &quot;RelWithDebInfo&quot;
SET_PROPERTY(TARGET boost_python-mt-shared APPEND PROPERTY IMPORTED_CONFIGURATIONS RELWITHDEBINFO)
SET_TARGET_PROPERTIES(boost_python-mt-shared PROPERTIES
  IMPORTED_LINK_INTERFACE_LIBRARIES_RELWITHDEBINFO &quot;pthread;rt;/usr/local/lib/libpython2.7.so&quot;
  IMPORTED_LOCATION_RELWITHDEBINFO &quot;${_IMPORT_PREFIX}/libboost_python-mt.so.5&quot;
  IMPORTED_SONAME_RELWITHDEBINFO &quot;libboost_python-mt.so.5&quot;
)</pre>

<p>
make it compile successfully. <strong>Note, this is currently only done on vapnik, so if you compile, compile on vapnik.</strong>
</p>

</div>
