
<h1 class="sectionedit1" id="gpu_lock">GPU Lock</h1>
<div class="level1">

<p>
As many of us are beginning to use GPUs for our research, we need a solution to not step over each other’s toes. The solution is a library/module called <a href="http://homepages.inf.ed.ac.uk/imurray2/code/gpu_monitoring/" class="urlextern" title="http://homepages.inf.ed.ac.uk/imurray2/code/gpu_monitoring/"  rel="nofollow"> gpu_lock</a>
</p>

<p>
The library is located in <em class="u">/srv/share/gpu_lock/</em>
</p>

<p>
You <strong>must</strong> add the following lines to your <code>~/.bashrc</code> file:
</p>
<pre class="code bash"><span class="kw3">export</span> <span class="re2">PATH</span>=<span class="st0">&quot;<span class="es2">$PATH</span>:/srv/share/gpu_lock&quot;</span>
<span class="kw3">export</span> <span class="re2">PYTHONPATH</span>=<span class="st0">&quot;<span class="es2">$PYTHONPATH</span>:/srv/share/gpu_lock&quot;</span></pre>

<p>
In Python:
</p>
<pre class="code python"><span class="kw1">import</span> gpu_lock
<span class="kw2">id</span> <span class="sy0">=</span> gpu_lock.<span class="me1">obtain_lock_id</span><span class="br0">&#40;</span><span class="br0">&#41;</span></pre>

<p>
Feed the id to Caffe or Torch or your favorite library.
If you get back an id = -1, you can’t run your script because all GPUs are busy.
</p>

<p>
<strong>Due to issues with the library, it is not easy to install this as a pip module, so you must add the directory to your paths, as shown above.</strong>
</p>

<p>
The Lua code is installed on the server. If you are using the torch installation in /srv/share/torch it should be available.
</p>

<p>
To use the GPU locking wrapper for Lua, type the following:
</p>

<p>
Require &#039;vtutils&#039; – This is the library for the lab torch github repository
</p>
<pre class="code">ID = obtain_gpu_lock_id.get_id()</pre>

<p>
Use the ID you get as the gpuid for your torch code. If no GPU is free, -1 is returned.
<strong>NOTE</strong>: Since Lua indexing starts with 1, you will have to use <strong>ID + 1</strong> to set the device you want to use in Torch.
Once the process runs, it will be freed automatically. As far as using the code is concerned, you don&#039;t need to use the github repository.
</p>

</div>
