
<h1 class="sectionedit1" id="old_and_not_accurate_-_list_of_packages_installed_on_cv-mlp_compute_cluster">OLD AND NOT ACCURATE - List of packages installed on CV-MLP Compute Cluster</h1>
<div class="level1">
<div class="table sectionedit2"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Package Name                                        </th><th class="col1 leftalign"> Version                                  </th><th class="col2 leftalign"> Installed from?                                                                                                                                   </th><th class="col3 leftalign"> Installed By:       </th><th class="col4 leftalign"> Date                                             </th><th class="col5 leftalign"> List of Machines                                             </th><th class="col6 leftalign"> Notes (e.g. why is this being installed?)                                                                                                                                                                                                                                                            </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> ipython                                             </td><td class="col1 leftalign"> 0.1                                      </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 04/13/14                                         </td><td class="col5 leftalign"> godel, turing, marr                                          </td><td class="col6 leftalign">                                                                                                                                                                                                                                                                                                      </td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> python                                              </td><td class="col1 leftalign"> 2.7                                      </td><td class="col2 leftalign"> source?                                                                                                                                           </td><td class="col3 leftalign"> Harsh               </td><td class="col4 leftalign"> 04/13/14                                         </td><td class="col5 leftalign"> godel, turing, marr                                          </td><td class="col6 leftalign">                                                                                                                                                                                                                                                                                                      </td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> ZeroMQ                                              </td><td class="col1 leftalign"> 4.0.4                                    </td><td class="col2 leftalign"> <a href="http://zeromq.org/intro:get-the-software" class="urlextern" title="http://zeromq.org/intro:get-the-software"  rel="nofollow">source</a>                                                                                               </td><td class="col3 leftalign"> Neelima             </td><td class="col4 leftalign"> 04/14/14                                         </td><td class="col5 leftalign"> godel, turing, marr                                          </td><td class="col6 leftalign"> Requirement for Matlab python bridge                                                                                                                                                                                                                                                                 </td>
	</tr>
	<tr class="row4">
		<td class="col0 leftalign"> <a href="https://github.com/zeromq/pyzmq" class="urlextern" title="https://github.com/zeromq/pyzmq"  rel="nofollow">Pyzmq</a>           </td><td class="col1 leftalign"> 14.1.0                                   </td><td class="col2 leftalign"> pip install                                                                                                                                       </td><td class="col3 leftalign"> Neelima             </td><td class="col4 leftalign"> 04/14/14                                         </td><td class="col5 leftalign"> godel, marr                                                  </td><td class="col6 leftalign"> Requirement for Matlab python bridge                                                                                                                                                                                                                                                                 </td>
	</tr>
	<tr class="row5">
		<td class="col0 leftalign"> python-matlab-bridge                                </td><td class="col1 leftalign">                                          </td><td class="col2 leftalign"> <a href="https://github.com/arokem/python-matlab-bridge" class="urlextern" title="https://github.com/arokem/python-matlab-bridge"  rel="nofollow">Github</a>                                                                                         </td><td class="col3 leftalign"> Neelima             </td><td class="col4 leftalign"> 04/14/14                                         </td><td class="col5 leftalign"> godel,marr                                                   </td><td class="col6 leftalign"> Not installing on other servers as they are not connected to CloudCV                                                                                                                                                                                                                                 </td>
	</tr>
	<tr class="row6">
		<td class="col0 leftalign"> xorg-x11-server-Xvfb                                </td><td class="col1 leftalign"> 1.13.0-23.1.sl6                          </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 04/19/14                                         </td><td class="col5 leftalign"> godel,turing,marr                                            </td><td class="col6 leftalign"> Faruk needed it for Mainak’s autoclock-in script “it looks like I need a package called &#039;xvfb&#039; installed, which will tell Firefox that there is a display even though there is none. Firefox does not open if it thinks there is no display.”                                                    </td>
	</tr>
	<tr class="row7">
		<td class="col0 leftalign"> splinter                                            </td><td class="col1 leftalign"> 0.6.0                                    </td><td class="col2 leftalign"> pip                                                                                                                                               </td><td class="col3 leftalign"> Harsh               </td><td class="col4 leftalign"> 04/24/14                                         </td><td class="col5 leftalign"> godel,turing,marr                                            </td><td class="col6 leftalign"> Needed for automatic login and logout script written by Ankit, used by a lot of people.                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row8">
		<td class="col0 leftalign"> pyvirtualdisplay                                    </td><td class="col1 leftalign"> 0.1.5                                    </td><td class="col2 leftalign"> pip                                                                                                                                               </td><td class="col3 leftalign"> Harsh               </td><td class="col4 leftalign"> 04/24/14                                         </td><td class="col5 leftalign"> godel,turing,marr                                            </td><td class="col6 leftalign"> Needed for automatic login and logout script written by Ankit, used by a lot of people.                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row9">
		<td class="col0 leftalign"> hdf5, hdf5-devel                                    </td><td class="col1 leftalign"> 1.8.7                                    </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 04/25/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> godel, turing, and marr already have these installed. Before more repositories were added I had installed this from soure. I removed that install and replaced it with the repo version.                                                                                                             </td>
	</tr>
	<tr class="row10">
		<td class="col0 leftalign"> bzip2-devel                                         </td><td class="col1 leftalign"> 1.0.5-7                                  </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 04/28/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Required for matplotlib                                                                                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row11">
		<td class="col0 leftalign"> freetype-devel                                      </td><td class="col1 leftalign"> 2.3.11-14                                </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 04/28/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Required for matplotlib                                                                                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row12">
		<td class="col0 leftalign"> libjpeg-turbo-devel                                 </td><td class="col1 leftalign"> 1.2.1-3                                  </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 04/30/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> PIL needed this to read jpegs                                                                                                                                                                                                                                                                        </td>
	</tr>
	<tr class="row13">
		<td class="col0 leftalign"> libpng-devel                                        </td><td class="col1 leftalign"> 2:1.2.49-1                               </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 04/28/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Required for matplotlib                                                                                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row14">
		<td class="col0 leftalign"> libopebblas                                         </td><td class="col1 leftalign"> 0.2.8                                    </td><td class="col2 leftalign"> <a href="http://www.openblas.net/" class="urlextern" title="http://www.openblas.net/"  rel="nofollow">http://www.openblas.net/</a> Abdullah suggested source installation for multi threaded support. Copied all the libblas libraries into /usr/lib64  </td><td class="col3 leftalign"> Neelima             </td><td class="col4 leftalign"> 05/04/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Required for Caffe                                                                                                                                                                                                                                                                                   </td>
	</tr>
	<tr class="row15">
		<td class="col0 leftalign"> sqlite-devel                                        </td><td class="col1 leftalign"> 3.6.20-1.el6                             </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 06/03/14                                         </td><td class="col5 leftalign"> rosenblatt,vapnik                                            </td><td class="col6 leftalign"> IPython notebook needed sqlite3 in python2.7. Since python2.7 was built from source (to prevent conflict with python2.6) and pysqlite didn’t work (<a href="https://pypi.python.org/pypi/pysqlite/2.6.3" class="urlextern" title="https://pypi.python.org/pypi/pysqlite/2.6.3"  rel="nofollow">https://pypi.python.org/pypi/pysqlite/2.6.3</a>) I rebuilt pyton2.7 after installing these headers (see below). Installed on vapnik for consistency.  </td>
	</tr>
	<tr class="row16">
		<td class="col0 leftalign"> python (reinstall)                                  </td><td class="col1 leftalign"> 2.7                                      </td><td class="col2 leftalign"> source                                                                                                                                            </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 06/03/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> See /code/Python-2.7.3. used ‘./configure USE=”sqlite”’ and ‘make altinstall’. See the sqlite-devel note (above) for why.                                                                                                                                                                        </td>
	</tr>
	<tr class="row17">
		<td class="col0 leftalign"> CUDA                                                </td><td class="col1 leftalign"> 5.5                                      </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 06/12/14                                         </td><td class="col5 leftalign"> vapnik,minsky                                                </td><td class="col6 leftalign"> The cuda repo adds version 6.0 by default (since it was released in April). Caffe expects version 5.5.                                                                                                                                                                                               </td>
	</tr>
	<tr class="row18">
		<td class="col0 leftalign"> readline-devel                                      </td><td class="col1 leftalign"> 6.0                                      </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 07/03/14                                         </td><td class="col5 leftalign"> rosenblatt,vapnik,minsky                                     </td><td class="col6 leftalign"> My ipython install was complaining about a missing readline plugin, so I updated these 3 machines to be consistent with the other 3.                                                                                                                                                             </td>
	</tr>
	<tr class="row19">
		<td class="col0 leftalign"> gcc-gfortran                                        </td><td class="col1 leftalign"> 4.4.7-4                                  </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 07/15/14                                         </td><td class="col5 leftalign"> minsky                                                       </td><td class="col6 leftalign"> numpy / scipy requirement                                                                                                                                                                                                                                                                            </td>
	</tr>
	<tr class="row20">
		<td class="col0 leftalign"> powertop                                            </td><td class="col1 leftalign"> 2.3-3                                    </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 07/22/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Now that there are 3 GPUs in the machine and we’re running them at full capacity, I want to check on power just to make sure things are fine                                                                                                                                                         </td>
	</tr>
	<tr class="row21">
		<td class="col0 leftalign"> Imagemagick                                         </td><td class="col1 leftalign"> 6.8.9-6                                  </td><td class="col2 leftalign"> source: <a href="http://www.imagemagick.org/script/install-source.php" class="urlextern" title="http://www.imagemagick.org/script/install-source.php"  rel="nofollow">http://www.imagemagick.org/script/install-source.php</a>                                                                                      </td><td class="col3 leftalign"> Neelima             </td><td class="col4 leftalign"> 07/27/14                                         </td><td class="col5 leftalign"> rosenblatt,minsky                                            </td><td class="col6 leftalign"> Needed to install this on Rosenblatt to handle CMYK images for the RCNN code. (Rcnn code uses this). Was already installed on godel, turing, marr, vapnik                                                                                                                                            </td>
	</tr>
	<tr class="row22">
		<td class="col0 leftalign"> gdb                                                 </td><td class="col1 leftalign"> 7.2-60                                   </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 07/26/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Fairly standard, useful for developing caffe code                                                                                                                                                                                                                                                    </td>
	</tr>
	<tr class="row23">
		<td class="col0 leftalign"> <del>cmake</del>                                    </td><td class="col1 leftalign"> <del>3.0.0</del>                         </td><td class="col2 leftalign"> <del>source(did not use yum as it was installing a very old version,(2.6.somehting)  i needed a version 2.8 or newer</del>                        </td><td class="col3 leftalign"> <del>Neelima</del>  </td><td class="col4 leftalign"> <del>uninstalled on 8/2 installed on 7/28</del>  </td><td class="col5 leftalign"> <del>marr</del>                                              </td><td class="col6 leftalign"> <del>standard tool(?)</del>                                                                                                                                                                                                                                                                          </td>
	</tr>
	<tr class="row24">
		<td class="col0 leftalign"> cmake                                               </td><td class="col1 leftalign"> <del>2.8.11.2-1.el6.x86_64  3.0.2</del>  </td><td class="col2 leftalign"> <del>from yum Now installed from source</del>                                                                                                     </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> <del>08/02/14</del>10/14/14                      </td><td class="col5 leftalign"> godel, turing, marr, minsky, vapnik, rosenblatt, tesla       </td><td class="col6 leftalign"> Neelima needs 2.8 for building BNG; Qi needed &gt;2.6 for Darwin.                                                                                                                                                                                                                                       </td>
	</tr>
	<tr class="row25">
		<td class="col0 leftalign"> daemonize                                           </td><td class="col1 leftalign"> 1.7.5                                    </td><td class="col2 leftalign"> from source(only option)                                                                                                                          </td><td class="col3 leftalign"> Harsh               </td><td class="col4 leftalign"> 08/06/14                                         </td><td class="col5 leftalign"> godel, rosenblatt                                            </td><td class="col6 leftalign"> For running process and daemonize. Needed for some init scripts for the scheduler.                                                                                                                                                                                                                   </td>
	</tr>
	<tr class="row26">
		<td class="col0 leftalign"> lmdb                                                </td><td class="col1 leftalign"> 9.9.14                                   </td><td class="col2 leftalign"> from source (couldn’t find it in a repo)                                                                                                          </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 08/09/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Caffe started supporting this as an alternative for leveldb because it is faster and allows more than one process to read a db at once. See notes at /code/lmdb_notes.txt                                                                                                                            </td>
	</tr>
	<tr class="row27">
		<td class="col0 leftalign"> gflags-devel                                        </td><td class="col1 leftalign"> 1.3.7                                    </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 08/09/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Another new caffe requirement                                                                                                                                                                                                                                                                        </td>
	</tr>
	<tr class="row28">
		<td class="col0 leftalign"> czmq-devel                                          </td><td class="col1 leftalign"> 1.4.1-1                                  </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 08/24/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> pymatbridge requirement                                                                                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row29">
		<td class="col0 leftalign"> matlab 2014a                                        </td><td class="col1 leftalign"> R2014a                                   </td><td class="col2 leftalign"> copy from other machine                                                                                                                           </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 08/25/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> I wanted this version of matlab on rosenblatt for consistency and so I didn’t have to change my script. The default executable still points to R2013a. I left it like that because I remember some problems with matlab versions and caffe, so I didn’t want to screw up anyone’s code.              </td>
	</tr>
	<tr class="row30">
		<td class="col0 leftalign"> openmpi-devel                                       </td><td class="col1 leftalign"> 0:1.5.4-2                                </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 09/01/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> I needed this to play with <a href="https://github.com/bruckner/deepViz" class="urlextern" title="https://github.com/bruckner/deepViz"  rel="nofollow">https://github.com/bruckner/deepViz</a>                                                                                                                                                                                                                                       </td>
	</tr>
	<tr class="row31">
		<td class="col0 leftalign"> graphviz-devel                                      </td><td class="col1 leftalign"> 2.26.0-10                                </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 09/01/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Also needed for deepViz                                                                                                                                                                                                                                                                              </td>
	</tr>
	<tr class="row32">
		<td class="col0 leftalign"> gflags-devel                                        </td><td class="col1 leftalign"> 1.3.7                                    </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 09/14/14                                         </td><td class="col5 leftalign"> vapnik                                                       </td><td class="col6 leftalign"> Caffe requirement                                                                                                                                                                                                                                                                                    </td>
	</tr>
	<tr class="row33">
		<td class="col0 leftalign"> lmdb                                                </td><td class="col1 leftalign"> 0.9.13                                   </td><td class="col2 leftalign"> source                                                                                                                                            </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 09/14/14                                         </td><td class="col5 leftalign"> turing                                                       </td><td class="col6 leftalign"> Same as for rosenblatt, except the repo didn’t have version 0.9.14                                                                                                                                                                                                                                   </td>
	</tr>
	<tr class="row34">
		<td class="col0 leftalign"> openblas                                            </td><td class="col1 leftalign"> 0.2.11                                   </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 10/09/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> consistency                                                                                                                                                                                                                                                                                          </td>
	</tr>
	<tr class="row35">
		<td class="col0 leftalign"> tk-devel, turbojpeg-devel, libpcap-devel, xz-devel  </td><td class="col1 leftalign"> 8.5.7-5, 1.2.1, 1.4.0-1,4.999.9-0.3      </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 10/09/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> consistency                                                                                                                                                                                                                                                                                          </td>
	</tr>
	<tr class="row36">
		<td class="col0 leftalign"> libjpeg-turbo-devel, openjpeg-devel                 </td><td class="col1 leftalign"> 1.2.1-3, 1.3-10                          </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 10/26/14                                         </td><td class="col5 leftalign"> tesla                                                        </td><td class="col6 leftalign"> Wasn’t installed and didn’t catch it till now for some reason                                                                                                                                                                                                                                        </td>
	</tr>
	<tr class="row37">
		<td class="col0 leftalign"> tbb (thread building block)-dev                     </td><td class="col1 leftalign"> 2.2-3.20090809.el6                       </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 11/05/14                                         </td><td class="col5 leftalign"> godel,turing,marr,minsky,vapnik,mccarthy,rosenblatt, testla  </td><td class="col6 leftalign"> Needed for boost and RIGOR                                                                                                                                                                                                                                                                           </td>
	</tr>
	<tr class="row38">
		<td class="col0 leftalign"> boost                                               </td><td class="col1 leftalign"> 1.41.0                                   </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 11/05/14                                         </td><td class="col5 leftalign"> all (as above)                                               </td><td class="col6 leftalign"> Needed for RIGOR                                                                                                                                                                                                                                                                                     </td>
	</tr>
	<tr class="row39">
		<td class="col0 leftalign"> eigen3                                              </td><td class="col1 leftalign"> 3.2.2                                    </td><td class="col2 leftalign"> from source                                                                                                                                       </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 11/05/14                                         </td><td class="col5 leftalign"> minsky                                                       </td><td class="col6 leftalign"> Needed for Darwin                                                                                                                                                                                                                                                                                    </td>
	</tr>
	<tr class="row40">
		<td class="col0 leftalign"> wxGTK-devel                                         </td><td class="col1 leftalign"> 2.8.12-1.el6.rf                          </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Dhruv               </td><td class="col4 leftalign"> 11/05/14                                         </td><td class="col5 leftalign"> minsky                                                       </td><td class="col6 leftalign"> Needed for Darwin                                                                                                                                                                                                                                                                                    </td>
	</tr>
	<tr class="row41">
		<td class="col0 leftalign"> glibc libgcc libstdc++                              </td><td class="col1 leftalign">                                          </td><td class="col2 leftalign"> debuginfo-insall                                                                                                                                  </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 12/01/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign"> Needed symbols for debugging                                                                                                                                                                                                                                                                         </td>
	</tr>
	<tr class="row42">
		<td class="col0 leftalign"> valgrind                                            </td><td class="col1 leftalign"> 3.8.1                                    </td><td class="col2 leftalign"> yum                                                                                                                                               </td><td class="col3 leftalign"> Michael             </td><td class="col4 leftalign"> 12/01/14                                         </td><td class="col5 leftalign"> rosenblatt                                                   </td><td class="col6 leftalign">                                                                                                                                                                                                                                                                                                      </td>
	</tr>
</table></div>
<!-- EDIT2 TABLE [92-29281] -->
</div>
