
<h1 class="sectionedit1" id="compute_cluster_puppet_server">Compute Cluster Puppet Server</h1>
<div class="level1">

<p>
ECE Support runs a puppet server to manage their machines that we piggyback off of.
</p>
<ul>
<li class="level1"><div class="li"> puppeteer.ece.vt.edu (the server)</div>
</li>
<li class="level1"><div class="li"> cvmlp (our username on this server, separate from the cvmlp account on LDAP)</div>
</li>
<li class="level1"><div class="li"> Bc$mSkS_B9</div>
</li>
</ul>

</div>
