
<h1 class="sectionedit1" id="setting_up_a_server">Setting up a server</h1>
<div class="level1">

<p>
Preferred Framework - Django
</p>

<p>
Django is a high-level Python Web framework that saves you time and makes Web development a joy. Using Django, you can build and maintain high-quality Web applications with minimal effort.
</p>

<p>
There are other simpler frameworks such as CherryPy, Flask, TurboGears etc.
</p>

<p>
<strong>We want to maintain consistency amongst all projects hence use Godel.</strong>
</p>

</div>
<!-- EDIT1 SECTION "Setting up a server" [1-407] -->
<h2 class="sectionedit2" id="step_1_-_create_a_virtual_environment">Step 1 - Create a virtual environment</h2>
<div class="level2">

<p>
A Virtual Environment is a tool to keep the dependencies required by different projects in separate places, by creating virtual Python environments for them. It solves the “Project X depends on version 1.x but, Project Y needs 4.x” dilemma, and keeps your global site-packages directory clean and manageable.
</p>
<pre class="code bash"> <span class="kw3">cd</span> <span class="sy0">/</span>var<span class="sy0">/</span>www<span class="sy0">/</span>html<span class="sy0">/</span> </pre>

<p>
Create your project directory here (Requires root access for now).
</p>
<pre class="code bash"> <span class="kw2">mkdir</span> <span class="sy0">*</span>Project folder name<span class="sy0">*</span> </pre>
<pre class="code bash"> <span class="kw3">cd</span> <span class="sy0">*</span>Project folder name<span class="sy0">*</span> </pre>
<pre class="code bash"> virtualenv <span class="sy0">*</span>name<span class="sy0">*</span> </pre>

</div>
<!-- EDIT2 SECTION "Step 1 - Create a virtual environment" [408-1013] -->
<h2 class="sectionedit3" id="step_2_-_activate_the_virtual_environment">Step 2 - Activate the virtual environment</h2>
<div class="level2">
<pre class="code bash"> <span class="kw3">source</span> <span class="sy0">*</span>name<span class="sy0">*/</span>bin<span class="sy0">/</span>activate </pre>

</div>
<!-- EDIT3 SECTION "Step 2 - Activate the virtual environment" [1014-1116] -->
<h2 class="sectionedit4" id="step_3_-_install_django_and_uwsgi">Step 3 - Install Django and Uwsgi</h2>
<div class="level2">
<pre class="code bash"> pip <span class="kw2">install</span> django </pre>
<pre class="code bash"> pip <span class="kw2">install</span> uwsgi </pre>

</div>
<!-- EDIT4 SECTION "Step 3 - Install Django and Uwsgi" [1117-1242] -->
<h2 class="sectionedit5" id="step_4_-_start_django">Step 4 - Start Django</h2>
<div class="level2">
<pre class="code bash"> python <span class="sy0">*</span>name<span class="sy0">*/</span>bin<span class="sy0">/</span>django-admin.py startproject <span class="sy0">*</span>ProjectName<span class="sy0">*</span> . </pre>

<p>
(Please note the trailing . in the command - without it the project will be created in an additional subdirectory.)
</p>

</div>
<!-- EDIT5 SECTION "Step 4 - Start Django" [1243-1478] -->
<h2 class="sectionedit6" id="step_5_-_test">Step 5 - Test</h2>
<div class="level2">
<pre class="code bash"> python manage.py runserver 0.0.0.0:<span class="nu0">8020</span> </pre>

<p>
Note: 8020 is the port number. Some port numbers maybe currently used by other projects.
</p>

<p>
Some useful links -
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://uwsgi-docs.readthedocs.org/en/latest/tutorials/Django_and_nginx.html" class="urlextern" title="http://uwsgi-docs.readthedocs.org/en/latest/tutorials/Django_and_nginx.html"  rel="nofollow">Setting up Django and your web server with uWSGI and nginx</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://docs.python-guide.org/en/latest/dev/virtualenvs/" class="urlextern" title="http://docs.python-guide.org/en/latest/dev/virtualenvs/"  rel="nofollow">Create a virtual environment</a> </div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Step 5 - Test" [1479-] -->