
<h1 class="sectionedit1" id="installing_cuda_and_torch_on_ubuntu_1404">Installing CUDA and Torch on Ubuntu 14.04</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Installing CUDA and Torch on Ubuntu 14.04" [1-57] -->
<h2 class="sectionedit2" id="prerequisites">1. Prerequisites</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Install Ubuntu 14.04</div>
</li>
<li class="level1"><div class="li"> Connect to internet</div>
</li>
<li class="level1"><div class="li"> (Optional) Have an Nvidia GPU for CUDA. It is recommended to use GPUs rather than CPUs for deep learning because GPUs are more power and budget efficient. When buying GPUs look for larger GRAM and higher single precision FLOPS models.</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "1. Prerequisites" [58-375] -->
<h2 class="sectionedit3" id="install_nvidia_driver_and_cuda">2. Install Nvidia Driver and CUDA</h2>
<div class="level2">

<p>
<strong>Skip to 3 if you don&#039;t have a GPU or you already have Nvidia drivers and CUDA figured out.</strong>
</p>

<p>
CUDA is an <abbr title="Application Programming Interface">API</abbr> designed for Nvidia GPUs to run general purpose computing on GPUs. With properly optimized code, CUDA speeds up neural net computations by about 10x compared with CPU counterparts because GPUs usually have way higher FLOPS, not to mention you can also run the code on multiple GPUs in parallel. 
</p>

</div>
<!-- EDIT3 SECTION "2. Install Nvidia Driver and CUDA" [376-828] -->
<h3 class="sectionedit4" id="install_nvidia_driver">Install Nvidia Driver</h3>
<div class="level3">

<p>
The first step to set up GPUs for Torch is to install the Nvidia driver. Installing Nvidia drivers on Ubuntu 14.04 is tricky. You might not be able to access your browsers and desktop environment, so keep a note or open the page on an alterative computer.
</p>

<p>
Parts of this section refers to this <a href="https://elementaryforums.com/index.php?threads/howto-install-latest-nvidia-driver-on-linux-without-getting-black-screen.7/" class="urlextern" title="https://elementaryforums.com/index.php?threads/howto-install-latest-nvidia-driver-on-linux-without-getting-black-screen.7/"  rel="nofollow">Guide to install Nvidia drivers</a>
</p>
<ol>
<li class="level1"><div class="li"> Download the latest driver from <a href="http://www.geforce.com/drivers" class="urlextern" title="http://www.geforce.com/drivers"  rel="nofollow">Nvidia Driver Download Site</a>. Choose Linux 32 bit or 64 bit according to your <abbr title="Operating System">OS</abbr>. After download open a terminal and run <pre class="code">cd ~/Downloads
chmod +x &lt;nvidia_driver.run&gt; </pre>

<p>
 to turn the file to an executable.
</p>
</div>
</li>
<li class="level1"><div class="li"> Modify Grub to prevent a black screen problem during install. <pre class="file">Quotes from paradise:
&quot;Since Linux Kernel 2.6.28 the kernel itself does provide the graphic driver 
during the startup of your linux. The developers thought it would be a cool 
idea to provide nice animated splash screens during boot a linux, but it does 
hurt the NVIDIA Driver hard and often result in a black screen.&quot;</pre>

<p>
Open a terminal and run 
</p>
<pre class="code">sudo gedit /etc/default/grub</pre>

<p>
Find and modify “nomodeset”
</p>
<pre class="code">#Find GRUB_CMDLINE_LINUX_DEFAULT=&quot;quiet splash&quot; and change to
GRUB_CMDLINE_LINUX_DEFAULT=&quot;quiet splash nomodeset&quot;</pre>

<p>
Then insert a new line somewhere
</p>
<pre class="code">GRUB_GFXPAYLOAD_LINUX=&lt;Resolution of your monitor&gt;
#For example
#GRUB_GFXPAYLOAD_LINUX=1920x1080
#GRUB_GFXPAYLOAD_LINUX=1920x1200
#GRUB_GFXPAYLOAD_LINUX=1366x768</pre>

<p>
Save and close the file. Then update GRUB in terminal 
</p>
<pre class="code">sudo update-grub</pre>

<p>
 and restart your computer.
</p>
</div>
</li>
<li class="level1"><div class="li"> Stop the desktop environment. After the restart, press CTRL + ALT + F1 to enter command line mode. Type <pre class="code">sudo /etc/init.d/lightdm stop</pre>

<p>
 to stop the desktop environment daemon.
</p>
</div>
</li>
<li class="level1"><div class="li"> Install the driver. Run <pre class="code">sudo ~/Downloads/&lt;nvidia_driver.run&gt;</pre>

<p>
 and follow the instructions to install the driver. When you see “Pre-Install Script failed. Do you really wanna run?” choose run. Restart the computer after everything&#039;s done.
</p>
</div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Install Nvidia Driver" [829-2982] -->
<h3 class="sectionedit5" id="install_cuda">Install CUDA</h3>
<div class="level3">

<p>
Parts of this section is based on <a href="http://www.r-tutor.com/gpu-computing/cuda-installation/cuda7.0-ubuntu" class="urlextern" title="http://www.r-tutor.com/gpu-computing/cuda-installation/cuda7.0-ubuntu"  rel="nofollow">Installing CUDA Toolkit 7.0 on Ubuntu 14.04 Linux from R Tutorial</a>
</p>
<ol>
<li class="level1"><div class="li"> Download and install cuda-repo from <a href="https://developer.nvidia.com/cuda-downloads" class="urlextern" title="https://developer.nvidia.com/cuda-downloads"  rel="nofollow">Nvidia CUDA download site</a>. Choose Linux x86→Ubuntu 14.04→Network Installer. This package will point your apt-get update to the CUDA repository to get the latest CUDA package.</div>
</li>
<li class="level1"><div class="li"> Perform apt-get update and install<pre class="code">sudo apt-get update 
sudo apt-get install cuda</pre>
</div>
</li>
<li class="level1"><div class="li"> Update environment variables. Add these lines to ~/.bashrc to set up CUDA environment variables. <pre class="code">export CUDA_HOME=/usr/local/cuda-7.0
export LD_LIBRARY_PATH=${CUDA_HOME}/lib64 
export PATH=${CUDA_HOME}/bin:${PATH}</pre>

<p>
 Restart the computer after everything&#039;s done.
</p>
</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "Install CUDA" [2983-3820] -->
<h2 class="sectionedit6" id="install_torch">3. Install Torch</h2>
<div class="level2">

<p>
Torch (<a href="http://torch.ch/" class="urlextern" title="http://torch.ch/"  rel="nofollow">Official Website</a>) is a computing framework for LuaJIT, just like numpy and theano for python. Torch is built for deep learning, but can also be used to perform gradient-based optimization of other models. What makes Torch stand out is its blazing fast speed, highly flexible environment just like Matlab and python, easy to install, seamless CUDA integration and active support from Facebook and Google. 
</p>

<p>
Installing torch is easy. Run 
</p>
<pre class="code">curl -s https://raw.githubusercontent.com/torch/ezinstall/master/install-deps &gt; ./torch_prereq.sh
chmod +x ./torch_prereq.sh
sudo ./torch_prereq.sh
git clone https://github.com/torch/distro.git ~/torch --recursive
cd ~/torch; ./install.sh</pre>

<p>
 And Torch will be installed in ~/torch. The script also has the option to automatically update ~/.bashrc to add environment variables.
</p>

<p>
Note that the torch/lua packages are installed in ~/torch/install/share/lua/5.1.
</p>

<p>
Trouble Shooting:
</p>
<ol>
<li class="level1"><div class="li"> <pre class="code">make: *** [getarch_2nd] Error 1
Makefile:131: *** OpenBLAS: Detecting CPU failed. Please set TARGET explicitly, e.g. make TARGET=your_cpu_target. Please read README for the detail..  Stop.
Error. OpenBLAS could not be compiled</pre>

<p>
You are using a wierd CPU (like me). For Intel Atom CPUs, in torch_prereq.sh change 
</p>
<pre class="code">#From make NO_AFFINITY=1 USE_OPENMP=1 to 
make NO_AFFINITY=1 USE_OPENMP=1 TARGET=ATOM</pre>

<p>
For other CPUs, change target to your cpus.
</p>
</div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "3. Install Torch" [3821-5273] -->
<h2 class="sectionedit7" id="torch_lua_package_recommendations">4. Torch/Lua Package Recommendations</h2>
<div class="level2">

<p>
This section lists some commonly used torch/lua packages.
</p>
<ul>
<li class="level1"><div class="li"> <a href="https://github.com/soumith/matio-ffi.torch" class="urlextern" title="https://github.com/soumith/matio-ffi.torch"  rel="nofollow">matio</a>. Read simple Matlab .mat save files without having Matlab installed.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/szagoruyko/loadcaffe" class="urlextern" title="https://github.com/szagoruyko/loadcaffe"  rel="nofollow">loadcaffe</a>. Load pretrained Caffe models.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/clementfarabet/lua---parallel" class="urlextern" title="https://github.com/clementfarabet/lua---parallel"  rel="nofollow">parallel</a>. Run multiple threads in parallel using sockets to communicate with each other.</div>
</li>
<li class="level1"><div class="li"> <a href="http://www.kyne.com.au/~mark/software/lua-cjson.php" class="urlextern" title="http://www.kyne.com.au/~mark/software/lua-cjson.php"  rel="nofollow">cjson</a>. Load simple json files.</div>
</li>
<li class="level1"><div class="li"> <a href="https://github.com/clementfarabet/lua---mattorch" class="urlextern" title="https://github.com/clementfarabet/lua---mattorch"  rel="nofollow">mattorch</a>. Read and write Matlab .mat save files. Support torch formats but require a Matlab install. </div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "4. Torch/Lua Package Recommendations" [5274-] -->