
<h1 class="sectionedit1" id="new_students_info_page">New Students Info Page</h1>
<div class="level1">

<p>
First of all, welcome to the lab! I put this together to get people acquainted with some of the basics of the lab.
</p>
<ul>
<li class="level1"><div class="li"> The lab is physically located in <em class="u">Whittemore 415</em>. </div>
</li>
<li class="level1"><div class="li"> The keypad code is <em class="u"><strong>39472</strong></em> (also written on the board inside the lab). </div>
</li>
<li class="level1"><div class="li"> The wireless password to CV-MLP-LAB is <em class="u"><strong>41539472</strong></em>. </div>
</li>
<li class="level1"><div class="li"> The labs servers are located in <em class="u">Whittemore 432</em> (key code: <em class="u"><strong>16534</strong></em>).</div>
</li>
</ul>

<p>
———————————————————————————————————-
</p>

<p>
<em class="u"><strong>Listservs</strong></em>
</p>

<p>
<a href="https://www.computing.vt.edu/content/quick-start-listserv#subscribing" class="urlextern" title="https://www.computing.vt.edu/content/quick-start-listserv#subscribing"  rel="nofollow">Subscribing to a listserv</a>
</p>

<p>
Be sure to be on:
</p>
<ul>
<li class="level1"><div class="li"> cvmlp labs (if local person)<br/>
</div>
</li>
<li class="level1"><div class="li"> cvmlp compute<br/>
</div>
</li>
<li class="level1"><div class="li"> cvmlrg <a href="https://filebox.ece.vt.edu/~cvmlreadinggroup/" class="urlextern" title="https://filebox.ece.vt.edu/~cvmlreadinggroup/"  rel="nofollow">VT CV-MLP Reading Group</a></div>
</li>
</ul>

<p>
Get added to Google Calendar for lab. Contact <a href="mailto:&#x73;&#x61;&#x6e;&#x74;&#x6f;&#x6c;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;" class="mail" title="&#x73;&#x61;&#x6e;&#x74;&#x6f;&#x6c;&#x40;&#x76;&#x74;&#x2e;&#x65;&#x64;&#x75;">Stanislaw Antol</a>
</p>

<p>
<em class="u"><strong>Server Account</strong></em>
</p>

<p>
Setting up CVL/ECE account - either ask Devi/Dhruv if intern, if student, go to <a href="https://computing.ece.vt.edu/wiki/Main_Page" class="urlextern" title="https://computing.ece.vt.edu/wiki/Main_Page"  rel="nofollow">ECE@VT</a>
</p>

<p>
Computer names are:
</p>
<ul>
<li class="level1"><div class="li"> godel</div>
</li>
<li class="level1"><div class="li"> turing</div>
</li>
<li class="level1"><div class="li"> marr</div>
</li>
<li class="level1"><div class="li"> vapnik</div>
</li>
<li class="level1"><div class="li"> minsky</div>
</li>
<li class="level1"><div class="li"> mccarthy</div>
</li>
<li class="level1"><div class="li"> rosen(blatt)</div>
</li>
<li class="level1"><div class="li"> tesla</div>
</li>
<li class="level1"><div class="li"> hebb</div>
</li>
</ul>

<p>
&lt;computer_name&gt;.ece.vt.edu. 
</p>

<p>
The name list and their shorter aliases can be found within <code>/srv/share/lab_helpful_files/config</code>
</p>

<p>
<em class="u"><strong>Setting up password-less SSH</strong></em>
</p>

<p>
From personal computer:
</p>

<p>
<code>scp -r &lt;userid&gt;@godel.ece.vt.edu:/srv/share/lab_helpful_files/ ~/</code>
</p>

<p>
Change &lt;userid&gt; to your CVL account username in the <code>~/lab_helpful_files/config</code> file and move it to <code>~/.ssh</code>
</p>

<p>
(<code>mv ~/lab_helpful_files/config ~/.ssh/</code>)
</p>

<p>
<code>ssh-keygen -t rsa</code>
</p>

<p>
Enter a bunch - Make sure ~/ on sever has .ssh folder: login, does ‘cd ~/.ssh’ work? if not, type <code>mkdir .ssh</code>
</p>

<p>
<code>scp ~/.ssh/id_rsa.pub godel:~/.ssh/</code>
</p>

<p>
On server:
</p>
<pre class="code">cd ~/.ssh/
cat id_rsa.pub &gt;&gt; authorized_keys2
chmod 700 ~/.ssh
chmod 600 ~/.ssh/authorized_keys2</pre>

<p>
Now you should be able to type something like:
</p>

<p>
ssh godel
On your personal computer and it will login without asking for a password.
</p>

<p>
<em class="u">Checking Servers’ Load</em>
</p>

<p>
On personal computer (or I guess on the server, if you want).<br/>

<code>mv ~/lab_helpful_files/check_lab_load.sh ~/</code>
</p>

<p>
Now check_lab_load.sh should be in your home directory and running (assuming you’re in ~/)
</p>

<p>
<code>./check_lab_load.sh</code>
</p>

<p>
should output all of the servers and how busy they are. Note, for non-GPU machines, the load average should not get above 64 (i.e., the number of cores). For rosenblatt, it shouldn’t go above 8, and for hebb/tesla, it shouldn’t go above 32.
</p>

<p>
<em class="u"><strong>Lab Printer</strong></em> <br/>

&lt;add&gt;
</p>

<p>
<em class="u"><strong>Guide to Using Servers</strong></em>
</p>

<p>
Screen, htop, etc.
</p>

<p>
<em class="u"><strong>Research Code</strong></em>
</p>

<p>
Dhruv had sent out <a href="http://www.theexclusive.org/2012/08/principles-of-research-code.html" class="urlextern" title="http://www.theexclusive.org/2012/08/principles-of-research-code.html"  rel="nofollow">this link</a> and <a href="http://arkitus.com/patterns-for-research-in-machine-learning/" class="urlextern" title="http://arkitus.com/patterns-for-research-in-machine-learning/"  rel="nofollow">this link</a> a long time ago, which I was heavily inspired by.
</p>

<p>
<em class="u"><strong>Web Development (Especially Devi’s students using AMT, but D3 visualizations also very useful for ML projects.)</strong></em>
</p>

<p>
If you want, you can start learning some webdev technologies.
</p>

<p>
I found these Udacity classes to be helpful (note: I just watched lectures, didn&#039;t do assignments):
</p>
<ul>
<li class="level1"><div class="li"> Intro to <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr></div>
</li>
<li class="level1"><div class="li"> Web Development</div>
</li>
<li class="level1"><div class="li"> Javascript Basics</div>
</li>
<li class="level1"><div class="li"> Intro to jQuery</div>
</li>
<li class="level1"><div class="li"> Intro to AJAX</div>
</li>
<li class="level1"><div class="li"> Object-Oriented Javascript</div>
</li>
<li class="level1"><div class="li"> Data Visualization and D3.js</div>
</li>
</ul>

<p>
You might be able to also access <a href="http://lynda.vt.edu/" class="urlextern" title="http://lynda.vt.edu/"  rel="nofollow">Lynda via VT</a>. I have yet to use it, but it seems to have a lot of relevant lectures (with transcripts, for easy browsing for specific concepts) and one of our IT people suggested it.
</p>

<p>
Some people in the lab also use <a href="https://bitbucket.org/" class="urlextern" title="https://bitbucket.org/"  rel="nofollow">Bitbucket</a>. Similar to GitHub, but private repos are free and public are pay-for. It seems good to use something more private for research until you&#039;re ready to release it (and adding it to GitHub later is super easy).
</p>

</div>
